<a href="https://colab.research.google.com/github/VijayTaori/Lifo_step1/blob/main/CFDs_conversion_rate.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [273]:
import pandas as pd
import numpy as np
import datetime as dt
import time
import calendar

In [274]:
df_new = pd.read_excel('/content/etoro-account-statement-1-1-2021-12-31-2021.xlsx',sheet_name=4)
df = pd.read_excel('Assesment of taxes 2020_etoro.xlsx', sheet_name=2)
df_new_2022 = pd.read_excel('/content/etoro-account-statement-1-1-2022-12-31-2022_Pandas.xlsx',sheet_name=2)
df_eur2usd = pd.read_csv('/content/eur_usd_all_plus_weekends.csv')
df_eur2usd['Date'] = pd.to_datetime(df_eur2usd['Date'],dayfirst=True)

In [275]:
df.columns

Index(['Position ID', 'Action', 'Amount', 'Units', 'Units (cal)', 'Open Date',
       'Close Date', 'Leverage', 'Spread', 'Profit', 'Unnamed: 10',
       'Open Rate', 'Close Rate', 'profit (cl-op)*units', 'Unnamed: 14',
       'Close Amount', 'Rollover Fees and Dividends', 'Type'],
      dtype='object')

In [276]:
df_20_open = df[['Position ID','Action', 'Amount', 'Units', 'Leverage','Open Date', 'Open Rate']]
df_21_open = df_new[['Position ID','Action', 'Amount', 'Units', 'Leverage','Open Date',
                 'Open Rate']]
df_22_open = df_new_2022[['Position ID', 'Action', 'Amount', 'Units','Leverage',
                          'Open Date', 'Open Rate']]
df_20_close = df[['Position ID', 'Action', 'Units','Leverage', 'Close Date', 'Spread',
                    'Close Rate', 'Profit','Rollover Fees and Dividends']]
df_21_close = df_new[['Position ID', 'Action', 'Units','Leverage', 'Close Date', 'Spread',
                    'Close Rate', 'Profit','Rollover Fees and Dividends']]
df_22_close = df_new_2022[['Position ID', 'Action', 'Units','Leverage', 'Close Date',
                           'Spread', 'Close Rate', 'Profit',
                           'Rollover Fees and Dividends']]

In [220]:
df_21_close

,Position ID,Action,Units,Leverage,Close Date,Spread,Close Rate,Profit,Rollover Fees and Dividends
0,1036767025,"Buy Tesla Motors, Inc.",5.787390,2,09/04/2021 19:17:42,7.02,672.80,93.76,-25.18
1,1027940687,Buy Amazon.com Inc,1.095410,5,12/03/2021 19:48:27,6.08,3082.00,-26.15,-8.40
2,990435134,Buy Amazon.com Inc,0.159267,5,05/03/2021 15:30:24,0.84,2938.46,-52.00,-1.46
3,1003975728,"Buy Tesla Motors, Inc.",2.000000,2,05/03/2021 14:55:54,2.12,587.47,-391.86,-3.30
4,1000417009,"Buy Tesla Motors, Inc.",1.000521,2,05/03/2021 14:50:42,1.06,590.63,-197.06,-1.78
...,...,...,...,...,...,...,...,...,...
69,862382487,Buy Silver,36.576445,5,05/01/2021 16:39:07,1.83,27.39,1.83,-0.06
70,862385894,Buy Gold,1.033207,10,05/01/2021 16:39:00,0.46,1947.95,12.64,-0.14
71,840857565,Buy Copper,277.161863,10,04/01/2021 11:50:08,0.55,3.60,-1.66,0.00
72,859597262,Buy Silver,74.682599,10,04/01/2021 11:50:02,3.73,27.28,37.34,0.00
73,859572238,Buy Gold,2.098614,20,04/01/2021 11:49:55,0.94,1934.90,60.61,0.00

In [277]:
df_20_open['Open Date'] = pd.to_datetime(df_20_open['Open Date'],dayfirst=True)
df_21_open['Open Date'] = pd.to_datetime(df_21_open['Open Date'],dayfirst=True)
df_22_open['Open Date'] = pd.to_datetime(df_22_open['Open Date'],dayfirst=True)
df_20_close['Close Date'] = pd.to_datetime(df_20_close['Close Date'],dayfirst=True)
df_21_close['Close Date'] = pd.to_datetime(df_21_close['Close Date'],dayfirst=True)
df_22_close['Close Date'] = pd.to_datetime(df_22_close['Close Date'],dayfirst=True)                
def datetime2date(date_time):
  date = date_time.date()
  return date
df_20_open['Date'] = df_20_open['Open Date'].map(datetime2date)
df_21_open['Date'] = df_21_open['Open Date'].map(datetime2date)
df_22_open['Date'] = df_22_open['Open Date'].map(datetime2date)
df_20_close['Date'] = df_20_close['Close Date'].map(datetime2date)
df_21_close['Date'] = df_21_close['Close Date'].map(datetime2date)
df_22_close['Date'] = df_22_close['Close Date'].map(datetime2date)

<ipython-input-277-989ec019fccc>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_20_open['Open Date'] = pd.to_datetime(df_20_open['Open Date'],dayfirst=True)
<ipython-input-277-989ec019fccc>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_21_open['Open Date'] = pd.to_datetime(df_21_open['Open Date'],dayfirst=True)
<ipython-input-277-989ec019fccc>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_22_open['Open Date'] = pd.to_datetime(df_22_open['Open Date'],dayfirst=True)
<ipython-input-277-989ec019fccc>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_20_close['Close Date'] = pd.to_datetime(df_20_close['Close Date'],dayfirst=True)
<ipython-input-277-989ec019fccc>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_21_close['Close Date'] = pd.to_datetime(df_21_close['Close Date'],dayfirst=True)
<ipython-input-277-989ec019fccc>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_22_close['Close Date'] = pd.to_datetime(df_22_close['Close Date'],dayfirst=True)
<ipython-input-277-989ec019fccc>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_20_open['Date'] = df_20_open['Open Date'].map(datetime2date)
<ipython-input-277-989ec019fccc>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_21_open['Date'] = df_21_open['Open Date'].map(datetime2date)
<ipython-input-277-989ec019fccc>:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_22_open['Date'] = df_22_open['Open Date'].map(datetime2date)
<ipython-input-277-989ec019fccc>:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_20_close['Date'] = df_20_close['Close Date'].map(datetime2date)
<ipython-input-277-989ec019fccc>:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_21_close['Date'] = df_21_close['Close Date'].map(datetime2date)
<ipython-input-277-989ec019fccc>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_22_close['Date'] = df_22_close['Close Date'].map(datetime2date)

In [222]:
df_20_close

,Position ID,Action,Units,Leverage,Close Date,Spread,Close Rate,Profit,Rollover Fees and Dividends,Date
0,856095290,Sell Ethereum,0.266455,1,2020-12-31 22:31:48,3.74,750.16,0.12,-0.14,2020-12-31
1,848528801,"Sell Tesla Motors, Inc.",1.000000,5,2020-12-31 16:13:30,1.28,713.91,-64.78,-0.41,2020-12-31
2,847006198,"Sell Tesla Motors, Inc.",0.871480,5,2020-12-30 19:16:18,1.09,694.29,-55.06,-0.34,2020-12-30
3,845829079,Buy Meta Platforms Inc,1.875610,5,2020-12-29 18:06:06,0.94,277.56,20.59,-0.63,2020-12-29
4,845839951,Buy Meta Platforms Inc,1.870487,5,2020-12-29 18:06:00,0.94,277.57,19.19,-0.63,2020-12-29
...,...,...,...,...,...,...,...,...,...,...
446,755378788,"Buy Tesla Motors, Inc.",0.584893,5,2020-10-09 13:34:46,0.45,427.75,0.22,-0.13,2020-10-09
447,753749828,Buy SPX500 Index,1.173014,20,2020-10-08 09:14:44,0.82,3431.77,5.51,0.00,2020-10-08
448,753669702,Sell SPX500 Index,1.164358,20,2020-10-08 06:25:24,0.82,3434.47,1.05,0.00,2020-10-08
449,753535508,"Buy Tesla Motors, Inc.",0.582711,5,2020-10-07 18:32:13,0.45,427.71,0.19,-0.04,2020-10-07
450,753535233,"Buy Tesla Motors, Inc.",0.584344,5,2020-10-07 18:31:44,0.45,427.54,0.09,-0.04,2020-10-07

In [278]:
df_20_open['Date'] = pd.to_datetime(df_20_open['Date'],dayfirst=True)
df_20_close['Date'] = pd.to_datetime(df_20_close['Date'],dayfirst=True)
df_21_open['Date'] = pd.to_datetime(df_21_open['Date'],dayfirst=True)
df_21_close['Date'] = pd.to_datetime(df_21_close['Date'],dayfirst=True)
df_22_open['Date'] = pd.to_datetime(df_22_open['Date'],dayfirst=True)
df_22_close['Date'] = pd.to_datetime(df_22_close['Date'],dayfirst=True)

<ipython-input-278-a4caa13751eb>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_20_open['Date'] = pd.to_datetime(df_20_open['Date'],dayfirst=True)
<ipython-input-278-a4caa13751eb>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_20_close['Date'] = pd.to_datetime(df_20_close['Date'],dayfirst=True)
<ipython-input-278-a4caa13751eb>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_21_open['Date'] = pd.to_datetime(df_21_open['Date'],dayfirst=True)
<ipython-input-278-a4caa13751eb>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_21_close['Date'] = pd.to_datetime(df_21_close['Date'],dayfirst=True)
<ipython-input-278-a4caa13751eb>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_22_open['Date'] = pd.to_datetime(df_22_open['Date'],dayfirst=True)
<ipython-input-278-a4caa13751eb>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_22_close['Date'] = pd.to_datetime(df_22_close['Date'],dayfirst=True)

In [279]:
df_et_open = pd.concat([df_20_open,df_21_open,df_22_open])
df_et_close = pd.concat([df_20_close,df_21_close,df_22_close])
df_et_open.reset_index(inplace=True)
df_et_open = df_et_open.drop('index',axis=1)
df_et_close.reset_index(inplace=True)
df_et_close = df_et_close.drop('index',axis=1)

In [280]:
def convert2UnixTimestamp(date_time):
  unix_timestamp = time.mktime(date_time.timetuple())
  return unix_timestamp
df_et_open['open_unix_timestamp'] = df_et_open['Open Date'].map(convert2UnixTimestamp)
df_et_close['close_unix_timestamp'] = df_et_close['Close Date'].map(convert2UnixTimestamp)

In [281]:
df_find_na = df_et_open # use the DataFrame for which you would like to find NANs
columns_df_find_na = df_find_na.columns
def find_null_values(column_name):
  print('The number of null values in column {} are:'.format(column_name),len(np.where(df_find_na.isna()[column_name])[0]))
  print('And their integer location is:', np.where(df_find_na.isna()[column_name])[0])
null_values = [find_null_values(y) for y in columns_df_find_na]

The number of null values in column Position ID are: 0
And their integer location is: []
The number of null values in column Action are: 0
And their integer location is: []
The number of null values in column Amount are: 0
And their integer location is: []
The number of null values in column Units are: 0
And their integer location is: []
The number of null values in column Leverage are: 0
And their integer location is: []
The number of null values in column Open Date are: 0
And their integer location is: []
The number of null values in column Open Rate are: 0
And their integer location is: []
The number of null values in column Date are: 0
And their integer location is: []
The number of null values in column open_unix_timestamp are: 0
And their integer location is: []

In [282]:
df_find_na = df_et_close # use the DataFrame for which you would like to find NANs
columns_df_find_na = df_find_na.columns
def find_null_values(column_name):
  print('The number of null values in column {} are:'.format(column_name),len(np.where(df_find_na.isna()[column_name])[0]))
  print('And their integer location is:', np.where(df_find_na.isna()[column_name])[0])
null_values = [find_null_values(y) for y in columns_df_find_na]

The number of null values in column Position ID are: 0
And their integer location is: []
The number of null values in column Action are: 0
And their integer location is: []
The number of null values in column Units are: 0
And their integer location is: []
The number of null values in column Leverage are: 0
And their integer location is: []
The number of null values in column Close Date are: 0
And their integer location is: []
The number of null values in column Spread are: 0
And their integer location is: []
The number of null values in column Close Rate are: 0
And their integer location is: []
The number of null values in column Profit are: 0
And their integer location is: []
The number of null values in column Rollover Fees and Dividends are: 0
And their integer location is: []
The number of null values in column Date are: 0
And their integer location is: []
The number of null values in column close_unix_timestamp are: 0
And their integer location is: []

In [283]:
print(df_et_open.shape)
print(df_et_close.shape)

(546, 9)
(546, 11)

In [284]:
df_et_close_eur1 = pd.merge(df_et_close, df_eur2usd, on='Date')
df_et_open_eur1 = pd.merge(df_et_open, df_eur2usd, on='Date')

In [285]:
print(df_et_open_eur1.shape)
print(df_et_close_eur1.shape)

(546, 14)
(546, 16)

In [286]:
df_find_na = df_et_open_eur1 # use the DataFrame for which you would like to find NANs
columns_df_find_na = df_find_na.columns
def find_null_values(column_name):
  print('The number of null values in column {} are:'.format(column_name),len(np.where(df_find_na.isna()[column_name])[0]))
  print('And their integer location is:', np.where(df_find_na.isna()[column_name])[0])
null_values = [find_null_values(y) for y in columns_df_find_na]

The number of null values in column Position ID are: 0
And their integer location is: []
The number of null values in column Action are: 0
And their integer location is: []
The number of null values in column Amount are: 0
And their integer location is: []
The number of null values in column Units are: 0
And their integer location is: []
The number of null values in column Leverage are: 0
And their integer location is: []
The number of null values in column Open Date are: 0
And their integer location is: []
The number of null values in column Open Rate are: 0
And their integer location is: []
The number of null values in column Date are: 0
And their integer location is: []
The number of null values in column open_unix_timestamp are: 0
And their integer location is: []
The number of null values in column Open are: 0
And their integer location is: []
The number of null values in column High are: 0
And their integer location is: []
The number of null values in column Low are: 0
And their integer location is: []
The number of null values in column Close are: 0
And their integer location is: []
The number of null values in column Weekday are: 0
And their integer location is: []

In [287]:
df_find_na = df_et_close_eur1 # use the DataFrame for which you would like to find NANs
columns_df_find_na = df_find_na.columns
def find_null_values(column_name):
  print('The number of null values in column {} are:'.format(column_name),len(np.where(df_find_na.isna()[column_name])[0]))
  print('And their integer location is:', np.where(df_find_na.isna()[column_name])[0])
null_values = [find_null_values(y) for y in columns_df_find_na]

The number of null values in column Position ID are: 0
And their integer location is: []
The number of null values in column Action are: 0
And their integer location is: []
The number of null values in column Units are: 0
And their integer location is: []
The number of null values in column Leverage are: 0
And their integer location is: []
The number of null values in column Close Date are: 0
And their integer location is: []
The number of null values in column Spread are: 0
And their integer location is: []
The number of null values in column Close Rate are: 0
And their integer location is: []
The number of null values in column Profit are: 0
And their integer location is: []
The number of null values in column Rollover Fees and Dividends are: 0
And their integer location is: []
The number of null values in column Date are: 0
And their integer location is: []
The number of null values in column close_unix_timestamp are: 0
And their integer location is: []
The number of null values in column Open are: 0
And their integer location is: []
The number of null values in column High are: 0
And their integer location is: []
The number of null values in column Low are: 0
And their integer location is: []
The number of null values in column Close are: 0
And their integer location is: []
The number of null values in column Weekday are: 0
And their integer location is: []

In [288]:
def sell_buy(action_item):
  sell_buy_item = action_item.split()[0]
  return sell_buy_item
df_et_close_eur1['ActionType'] = df_et_close_eur1['Action'].map(sell_buy)
df_et_open_eur1['ActionType'] = df_et_open_eur1['Action'].map(sell_buy)

In [289]:
df_et_close_eur1['ActionType'].unique()

array(['Sell', 'Buy'], dtype=object)

In [290]:
df_et_open_eur1['ActionType'].unique()

array(['Sell', 'Buy'], dtype=object)

In [291]:
df_et_close_eur1_sell = df_et_close_eur1[df_et_close_eur1['ActionType']=='Sell']
df_et_close_eur1_buy = df_et_close_eur1[df_et_close_eur1['ActionType']=='Buy']
df_et_open_eur1_sell = df_et_open_eur1[df_et_open_eur1['ActionType']=='Sell']
df_et_open_eur1_buy = df_et_open_eur1[df_et_open_eur1['ActionType']=='Buy']

In [292]:
df_all_sell = pd.merge(df_et_open_eur1_sell, df_et_close_eur1_sell, on=['Position ID', 'Action','ActionType', 'Units','Leverage'])
df_all_buy = pd.merge(df_et_open_eur1_buy, df_et_close_eur1_buy, on=['Position ID', 'Action','ActionType', 'Units','Leverage'])

In [293]:
df_all_sell.shape

(95, 27)

In [294]:
df_all_buy.shape

(451, 27)

In [295]:
df_all_buy.columns

Index(['Position ID', 'Action', 'Amount', 'Units', 'Leverage', 'Open Date',
       'Open Rate', 'Date_x', 'open_unix_timestamp', 'Open_x', 'High_x',
       'Low_x', 'Close_x', 'Weekday_x', 'ActionType', 'Close Date', 'Spread',
       'Close Rate', 'Profit', 'Rollover Fees and Dividends', 'Date_y',
       'close_unix_timestamp', 'Open_y', 'High_y', 'Low_y', 'Close_y',
       'Weekday_y'],
      dtype='object')

In [296]:
df_all_buy['Amount_open_Eur'] = df_all_buy['Amount']/df_all_buy['Low_x']
df_all_buy['Open Rate_Eur'] = df_all_buy['Open Rate']/df_all_buy['Low_x']
df_all_buy['Close Rate_Eur'] = df_all_buy['Close Rate']/df_all_buy['High_y']
df_all_buy['Spread_Eur'] = df_all_buy['Spread']/df_all_buy['Low_y']
df_all_buy['Fee_Eur'] = df_all_buy['Rollover Fees and Dividends']/df_all_buy['Low_y']
df_all_buy['x_x'] = df_all_buy['Units']/df_all_buy['Leverage']
df_all_buy['y_y'] = df_all_buy['Units'] - df_all_buy['x_x']
df_all_buy['Amount_close_Eur'] = ((df_all_buy['Close Rate_Eur']-df_all_buy['Open Rate_Eur'])*df_all_buy['y_y'])+(df_all_buy['x_x']*df_all_buy['Close Rate_Eur'])
df_all_buy['Final_amount_close_eur'] = df_all_buy['Amount_close_Eur'] + df_all_buy['Fee_Eur'] - df_all_buy['Spread_Eur']
df_all_buy['Final_profit'] = df_all_buy['Final_amount_close_eur'] - df_all_buy['Amount_open_Eur']

In [297]:
df20_buy = df_all_buy[df_all_buy['close_unix_timestamp'] <= 1609455599]
df20and21_buy = df_all_buy[df_all_buy['close_unix_timestamp'] <= 1640991599]
df21_buy = df20and21_buy[df20and21_buy['close_unix_timestamp'] > 1609455599]
df22_buy = df_all_buy[df_all_buy['close_unix_timestamp'] > 1640991599]

In [298]:
df20_buy['Final_profit'].sum()

-10955.608294833235

In [299]:
df21_buy['Final_profit'].sum()

-1034.520034331339

In [300]:
df22_buy['Final_profit'].sum()

-634.8006173266292

In [267]:
df_all_sell.columns

Index(['Position ID', 'Action', 'Amount', 'Units', 'Leverage', 'Open Date',
       'Open Rate', 'Date_x', 'open_unix_timestamp', 'Open_x', 'High_x',
       'Low_x', 'Close_x', 'Weekday_x', 'ActionType', 'Close Date', 'Spread',
       'Close Rate', 'Profit', 'Rollover Fees and Dividends', 'Date_y',
       'close_unix_timestamp', 'Open_y', 'High_y', 'Low_y', 'Close_y',
       'Weekday_y'],
      dtype='object')

In [268]:
df_all_sell['Amount_open_Eur'] = df_all_sell['Amount']/df_all_sell['High_x']
df_all_sell['Open Rate_Eur'] = df_all_sell['Open Rate']/df_all_sell['High_x']
df_all_sell['Close Rate_Eur'] = df_all_sell['Close Rate']/df_all_sell['Low_y']
df_all_sell['Spread_Eur'] = df_all_sell['Spread']/df_all_sell['Low_y']
df_all_sell['Fee_Eur'] = df_all_sell['Rollover Fees and Dividends']/df_all_sell['Low_y']
df_all_sell['Profit_x'] = df_all_sell['Units']*df_all_sell['Leverage']*(df_all_sell['Open Rate_Eur']-df_all_sell['Close Rate_Eur'])
df_all_sell['Amount_close_Eur'] = df_all_sell['Profit_x'] + df_all_sell['Profit_x']
df_all_sell['Final_amount_close_eur'] = df_all_sell['Amount_close_Eur'] + df_all_sell['Fee_Eur'] - df_all_sell['Spread_Eur']
df_all_sell['Final_profit'] = df_all_sell['Final_amount_close_eur'] - df_all_sell['Amount_open_Eur']

In [269]:
df20_sell = df_all_sell[df_all_sell['close_unix_timestamp'] <= 1609455599]
df20and21_sell = df_all_sell[df_all_sell['close_unix_timestamp'] <= 1640991599]
df21_sell = df20and21_sell[df20and21_sell['close_unix_timestamp'] > 1609455599]
df22_sell = df_all_sell[df_all_sell['close_unix_timestamp'] > 1640991599]

In [270]:
df20_sell['Final_profit'].sum()

-106856.79571297092

In [271]:
df21_sell['Final_profit'].sum()

-3625.680546782481

In [272]:
df22_sell['Final_profit'].sum()

-56585.82644553531

In [261]:
df22_buy

Empty DataFrame
Columns: [Position ID, Action, Amount, Units, Leverage, Open Date, Open Rate, Date_x, open_unix_timestamp, Open_x, High_x, Low_x, Close_x, Weekday_x, ActionType, Close Date, Spread, Close Rate, Profit, Rollover Fees and Dividends, Date_y, close_unix_timestamp, Open_y, High_y, Low_y, Close_y, Weekday_y, Amount_open_Eur, Open Rate_Eur, Close Rate_Eur, Spread_Eur, Fee_Eur, x_x, y_y, Amount_close_Eur, Final_amount_close_eur, Final_profit]
Index: []

[0 rows x 37 columns]

In [247]:
df20_sell = df_all_sell[df_all_sell['close_unix_timestamp'] <= 1609455599]
df20and21_sell = df_all_sell[df_all_sell['close_unix_timestamp'] <= 1640991599]
df21_sell = df20and21_sell[df20and21_sell['close_unix_timestamp'] > 1609455599]
df22_sell = df20and21_sell[df20and21_sell['close_unix_timestamp'] > 1640991599]
df20_buy = df_all_buy[df_all_buy['close_unix_timestamp'] <= 1609455599]
df20and21_buy = df_all_buy[df_all_buy['close_unix_timestamp'] <= 1640991599]
df21_buy = df20and21_buy[df20and21_buy['close_unix_timestamp'] > 1609455599]
df22_buy = df20and21_buy[df20and21_buy['close_unix_timestamp'] > 1640991599]

In [204]:
df_et_open_eur1['Amount_open_Eur'] = df_et_open_eur1['Amount']/df_et_open_eur1['Low']
df_et_open_eur1['Open Rate_Eur'] = df_et_open_eur1['Open Rate']/df_et_open_eur1['Low']
df_et_close_eur1['Close Rate_Eur'] = df_et_close_eur1['Close Rate']/df_et_close_eur1['High']
df_et_close_eur1['Amount_close_Eur'] = df_et_close_eur1['Close Rate_Eur']*df_et_close_eur1['Units']/df_et_close_eur1['Leverage']
df_et_close_eur1['Spread_Eur'] = df_et_close_eur1['Spread']/df_et_close_eur1['Low']
df_et_close_eur1['Fee_Eur'] = df_et_close_eur1['Rollover Fees and Dividends']/df_et_close_eur1['Low']
df_et_close_eur1['Final_amount_close_eur'] = df_et_close_eur1['Amount_close_Eur'] + df_et_close_eur1['Fee_Eur'] - df_et_close_eur1['Spread_Eur']

In [251]:
df20_buy.columns

Index(['Position ID', 'Action', 'Amount', 'Units', 'Leverage_x', 'Open Date',
       'Open Rate', 'Date_x', 'open_unix_timestamp', 'Open_x', 'High_x',
       'Low_x', 'Close_x', 'Weekday_x', 'ActionType', 'Leverage_y',
       'Close Date', 'Spread', 'Close Rate', 'Profit',
       'Rollover Fees and Dividends', 'Date_y', 'close_unix_timestamp',
       'Open_y', 'High_y', 'Low_y', 'Close_y', 'Weekday_y'],
      dtype='object')

In [ ]:
df20_buy['Amount_open_Eur'] = df20_buy['Amount']/df20_buy['Low_x']
df20_buy['Open Rate_Eur'] = df20_buy['Open Rate']/df20_buy['Low_x']

In [249]:
df20_sell.columns

Index(['Position ID', 'Action', 'Amount', 'Units', 'Leverage_x', 'Open Date',
       'Open Rate', 'Date_x', 'open_unix_timestamp', 'Open_x', 'High_x',
       'Low_x', 'Close_x', 'Weekday_x', 'ActionType', 'Leverage_y',
       'Close Date', 'Spread', 'Close Rate', 'Profit',
       'Rollover Fees and Dividends', 'Date_y', 'close_unix_timestamp',
       'Open_y', 'High_y', 'Low_y', 'Close_y', 'Weekday_y'],
      dtype='object')

In [205]:
df_et_close_eur1

,Position ID,Action,Units,Leverage,Close Date,Spread,Close Rate,Profit,Rollover Fees and Dividends,Date,...,Open,High,Low,Close,Weekday,Close Rate_Eur,Amount_close_Eur,Spread_Eur,Fee_Eur,Final_amount_close_eur
0,856095290,Sell Ethereum,0.266455,1,2020-12-31 22:31:48,3.74,750.16,0.12,-0.14,2020-12-31,...,1.229906,1.230951,1.222300,1.229990,Thursday,609.414997,162.381673,3.059805,-0.114538,159.207330
1,848528801,"Sell Tesla Motors, Inc.",1.000000,5,2020-12-31 16:13:30,1.28,713.91,-64.78,-0.41,2020-12-31,...,1.229906,1.230951,1.222300,1.229990,Thursday,579.966221,115.993244,1.047206,-0.335433,114.610605
2,847006198,"Sell Tesla Motors, Inc.",0.871480,5,2020-12-30 19:16:18,1.09,694.29,-55.06,-0.34,2020-12-30,...,1.225325,1.230875,1.225205,1.225295,Wednesday,564.062151,98.313777,0.889647,-0.277505,97.146625
3,845829079,Buy Meta Platforms Inc,1.875610,5,2020-12-29 18:06:06,0.94,277.56,20.59,-0.63,2020-12-29,...,1.222001,1.227599,1.222001,1.222345,Tuesday,226.099891,84.815043,0.769230,-0.515548,83.530265
4,845839951,Buy Meta Platforms Inc,1.870487,5,2020-12-29 18:06:00,0.94,277.57,19.19,-0.63,2020-12-29,...,1.222001,1.227599,1.222001,1.222345,Tuesday,226.108037,84.586429,0.769230,-0.515548,83.301651
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
541,2180662604,Sell NASDAQ100 Index,1.605613,20,2022-05-10 13:38:22,3.85,12437.35,30.43,0.00,2022-05-10,...,1.056580,1.058582,1.052731,1.056580,Tuesday,11749.066204,943.222672,3.657155,0.000000,939.565517
542,2178828534,Sell NASDAQ100 Index,1.601775,20,2022-05-09 14:01:14,3.84,12419.45,106.84,0.00,2022-05-09,...,1.053219,1.057217,1.049659,1.053219,Monday,11747.304480,940.826932,3.658331,0.000000,937.168601
543,2178704249,Sell NASDAQ100 Index,1.599124,20,2022-05-09 13:47:26,3.84,12436.75,112.10,0.00,2022-05-09,...,1.053219,1.057217,1.049659,1.053219,Monday,11763.668197,940.578207,3.658331,0.000000,936.919876
544,2178669816,Sell MicroStrategy Incorporated,11.746663,1,2022-05-09 13:45:49,5.28,250.76,94.46,0.00,2022-05-09,...,1.053219,1.057217,1.049659,1.053219,Monday,237.188770,2786.176550,5.030205,0.000000,2781.146345
545,2169936293,"Buy Tesla Motors, Inc.",5.078243,2,2022-04-28 16:46:42,7.94,867.48,187.45,0.00,2022-04-28,...,1.055509,1.056223,1.047285,1.055509,Thursday,821.303835,2085.390224,7.581508,0.000000,2077.808716

In [206]:
df_all = pd.merge(df_et_open_eur1, df_et_close_eur1, on=['Position ID', 'Action', 'Units'])

In [207]:
df_all

,Position ID,Action,Amount,Units,Leverage_x,Open Date,Open Rate,Date_x,open_unix_timestamp,Open_x,...,Open_y,High_y,Low_y,Close_y,Weekday_y,Close Rate_Eur,Amount_close_Eur,Spread_Eur,Fee_Eur,Final_amount_close_eur
0,856095290,Sell Ethereum,200.00,0.266455,1,2020-12-30 20:01:10,750.60,2020-12-30,1.609358e+09,1.225325,...,1.229906,1.230951,1.222300,1.229990,Thursday,609.414997,162.381673,3.059805,-0.114538,159.207330
1,856075348,"Sell Tesla Motors, Inc.",500.00,3.603136,5,2020-12-30 19:48:27,693.84,2020-12-30,1.609358e+09,1.225325,...,1.229861,1.235025,1.226693,1.230027,Wednesday,618.246594,445.525312,4.035239,-1.222800,440.267273
2,848528801,"Sell Tesla Motors, Inc.",129.83,1.000000,5,2020-12-24 14:50:14,649.13,2020-12-24,1.608821e+09,1.219393,...,1.229906,1.230951,1.222300,1.229990,Thursday,579.966221,115.993244,1.047206,-0.335433,114.610605
3,848636533,Sell Ethereum,500.00,0.848877,1,2020-12-24 15:17:42,589.01,2020-12-24,1.608823e+09,1.219393,...,1.219393,1.221747,1.217938,1.219141,Thursday,491.206445,416.973853,7.832911,0.000000,409.140942
4,847006198,"Sell Tesla Motors, Inc.",110.00,0.871480,5,2020-12-23 14:57:45,631.11,2020-12-23,1.608735e+09,1.218591,...,1.225325,1.230875,1.225205,1.225295,Wednesday,564.062151,98.313777,0.889647,-0.277505,97.146625
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
541,2180662604,Sell NASDAQ100 Index,1000.00,1.605613,20,2022-05-10 12:57:22,12456.30,2022-05-10,1.652187e+09,1.056580,...,1.056580,1.058582,1.052731,1.056580,Tuesday,11749.066204,943.222672,3.657155,0.000000,939.565517
542,2178828534,Sell NASDAQ100 Index,1000.00,1.601775,20,2022-05-09 13:51:42,12486.15,2022-05-09,1.652104e+09,1.053219,...,1.053219,1.057217,1.049659,1.053219,Monday,11747.304480,940.826932,3.658331,0.000000,937.168601
543,2178704249,Sell NASDAQ100 Index,1000.00,1.599124,20,2022-05-09 13:36:02,12506.85,2022-05-09,1.652103e+09,1.053219,...,1.053219,1.057217,1.049659,1.053219,Monday,11763.668197,940.578207,3.658331,0.000000,936.919876
544,2178669816,Sell MicroStrategy Incorporated,3040.00,11.746663,1,2022-05-09 13:32:54,258.80,2022-05-09,1.652103e+09,1.053219,...,1.053219,1.057217,1.049659,1.053219,Monday,237.188770,2786.176550,5.030205,0.000000,2781.146345
545,2169936293,"Buy Tesla Motors, Inc.",2108.91,5.078243,2,2022-04-28 14:32:01,830.57,2022-04-28,1.651156e+09,1.055509,...,1.055509,1.056223,1.047285,1.055509,Thursday,821.303835,2085.390224,7.581508,0.000000,2077.808716

In [210]:
df_all.columns

Index(['Position ID', 'Action', 'Amount', 'Units', 'Leverage_x', 'Open Date',
       'Open Rate', 'Date_x', 'open_unix_timestamp', 'Open_x', 'High_x',
       'Low_x', 'Close_x', 'Weekday_x', 'Amount_open_Eur', 'Open Rate_Eur',
       'Leverage_y', 'Close Date', 'Spread', 'Close Rate', 'Profit',
       'Rollover Fees and Dividends', 'Date_y', 'close_unix_timestamp',
       'Open_y', 'High_y', 'Low_y', 'Close_y', 'Weekday_y', 'Close Rate_Eur',
       'Amount_close_Eur', 'Spread_Eur', 'Fee_Eur', 'Final_amount_close_eur',
       'Profit_eur'],
      dtype='object')

In [209]:
df_all['Profit_eur'] = df_all['Final_amount_close_eur'] - df_all['Amount_open_Eur']

In [215]:
df_all.to_excel('CFD_ALL.xlsx',index=False)

In [211]:
df_trimmed = df_all[['Position ID', 'Action', 'Amount', 'Units', 'Open Date', 
                     'Open Rate', 'open_unix_timestamp', 'Amount_open_Eur', 
                     'Open Rate_Eur', 'Close Date', 'Spread', 'Close Rate',
                     'Profit','Profit_eur', 'Rollover Fees and Dividends', 
                     'close_unix_timestamp', 'Close Rate_Eur',
                     'Amount_close_Eur', 'Spread_Eur', 'Fee_Eur','Final_amount_close_eur']]

In [212]:
df_ultra_trimmed = df_all[['Position ID', 'Action', 'Units', 
                               'Amount_open_Eur', 'Amount_close_Eur',
                               'Final_amount_close_eur', 
                               'Profit','Profit_eur','Open Rate_Eur','Close Rate_Eur']]

In [183]:
df_trimmed[df_trimmed['Action']== 'Buy Alibaba-ADR']

,Position ID,Action,Amount,Units,Open Date,Open Rate,open_unix_timestamp,Amount_open_Eur,Open Rate_Eur,Close Date,Spread,Close Rate,Profit,Rollover Fees and Dividends,close_unix_timestamp,Close Rate_Eur,Amount_close_Eur,Spread_Eur,Fee_Eur
5,846924908,Buy Alibaba-ADR,500.00,9.867772,2020-12-23 14:47:53,253.35,1.608735e+09,411.259969,208.385426,2020-12-24 14:30:12,4.05,227.86,-251.53,-0.45,1.608820e+09,186.503425,1840.373275,3.325292,-0.369477
17,845095532,Buy Alibaba-ADR,100.00,1.947116,2020-12-22 15:16:50,256.79,1.608650e+09,82.196014,211.071146,2020-12-24 14:30:10,0.80,227.86,-56.33,-0.18,1.608820e+09,186.503425,363.143803,0.656848,-0.147791
21,843258214,Buy Alibaba-ADR,100.00,1.939037,2020-12-21 16:09:08,257.86,1.608567e+09,82.434998,212.566886,2020-12-24 14:30:10,0.80,227.86,-58.17,-0.27,1.608820e+09,186.503425,361.637042,0.656848,-0.221686
22,843759372,Buy Alibaba-ADR,1000.00,19.232249,2020-12-21 20:01:36,259.98,1.608581e+09,824.349979,214.314508,2020-12-24 14:30:09,7.90,227.86,-617.74,-2.66,1.608820e+09,186.503425,3586.880309,6.486373,-2.184019
57,790936725,Buy Alibaba-ADR,450.00,3.367756,2020-11-10 19:54:06,267.24,1.605038e+09,381.978103,226.844063,2020-12-24 14:40:18,1.37,225.63,-140.13,-7.03,1.608821e+09,184.678170,621.951015,1.124852,-5.772051
72,833997874,Buy Alibaba-ADR,405.22,7.945412,2020-12-15 20:41:04,255.01,1.608065e+09,334.148323,210.283707,2020-12-24 14:30:11,3.26,227.86,-215.72,-3.32,1.608820e+09,186.503425,1481.846551,2.676655,-2.725919
73,835488130,Buy Alibaba-ADR,44.78,0.878117,2020-12-15 20:41:04,255.01,1.608065e+09,36.926020,210.283707,2020-12-16 17:52:21,0.41,260.95,5.22,-0.04,1.608141e+09,213.665766,187.623541,0.337532,-0.032930
75,837640639,Buy Alibaba-ADR,250.00,4.787254,2020-12-17 16:40:09,261.11,1.608223e+09,205.044925,214.157122,2020-12-24 14:30:09,1.97,227.86,-159.18,-1.56,1.608820e+09,186.503425,892.839267,1.617488,-1.280853
86,816382882,Buy Alibaba-ADR,240.00,4.552920,2020-12-01 18:11:50,263.57,1.606846e+09,201.072555,220.819555,2020-12-24 14:30:09,1.87,227.86,-162.58,-4.92,1.608820e+09,186.503425,849.135174,1.535382,-4.039614

In [181]:
df_trimmed.transpose()

,0,1,2,3,4,5,6,7,8,9,...,536,537,538,539,540,541,542,543,544,545
Position ID,856095290,856075348,848528801,848636533,847006198,846924908,847167890,847156989,847166064,847161094,...,2181969020,2182005645,2183164090,2184232316,2183515407,2180662604,2178828534,2178704249,2178669816,2169936293
Action,Sell Ethereum,"Sell Tesla Motors, Inc.","Sell Tesla Motors, Inc.",Sell Ethereum,"Sell Tesla Motors, Inc.",Buy Alibaba-ADR,"Sell Tesla Motors, Inc.","Sell Tesla Motors, Inc.","Buy Tesla Motors, Inc.","Buy Tesla Motors, Inc.",...,Sell NASDAQ100 Index,Sell NASDAQ100 Index,Sell NASDAQ100 Index,Sell NASDAQ100 Index,Buy NASDAQ100 Index,Sell NASDAQ100 Index,Sell NASDAQ100 Index,Sell NASDAQ100 Index,Sell MicroStrategy Incorporated,"Buy Tesla Motors, Inc."
Amount,200.0,500.0,129.83,500.0,110.0,500.0,129.76,100.0,130.26,129.85,...,200.0,200.0,200.0,1000.0,1000.0,1000.0,1000.0,1000.0,3040.0,2108.91
Units,0.266455,3.603136,1.0,0.848877,0.87148,9.867772,1.0,0.771998,1.0,1.0,...,0.319599,0.319163,0.165996,1.697814,1.689203,1.605613,1.601775,1.599124,11.746663,5.078243
Open Date,2020-12-30 20:01:10,2020-12-30 19:48:27,2020-12-24 14:50:14,2020-12-24 15:17:42,2020-12-23 14:57:45,2020-12-23 14:47:53,2020-12-23 15:40:24,2020-12-23 15:36:46,2020-12-23 15:39:33,2020-12-23 15:38:06,...,2022-05-11 09:10:45,2022-05-11 10:48:30,2022-05-12 02:32:48,2022-05-12 13:59:25,2022-05-12 08:45:06,2022-05-10 12:57:22,2022-05-09 13:51:42,2022-05-09 13:36:02,2022-05-09 13:32:54,2022-04-28 14:32:01
Open Rate,750.6,693.84,649.13,589.01,631.11,253.35,648.82,647.67,651.29,649.27,...,12515.7,12532.8,12048.5,11779.85,11839.9,12456.3,12486.15,12506.85,258.8,830.57
open_unix_timestamp,1609358470.0,1609357707.0,1608821414.0,1608823062.0,1608735465.0,1608734873.0,1608738024.0,1608737806.0,1608737973.0,1608737886.0,...,1652260245.0,1652266110.0,1652322768.0,1652363965.0,1652345106.0,1652187442.0,1652104302.0,1652103362.0,1652103174.0,1651156321.0
Amount_open_Eur,163.237989,408.094972,106.598201,410.529928,90.477193,411.259969,106.730187,82.251994,107.141447,106.804214,...,190.348023,190.348023,192.79803,963.990148,963.990148,949.910281,952.69035,952.69035,2896.178664,2013.692548
Open Rate_Eur,612.632172,566.305231,532.974585,483.612466,519.100558,208.385426,533.667386,532.721488,535.69901,534.03752,...,11911.693745,11927.968501,11614.635298,11355.659345,11413.546954,11832.367433,11895.434613,11915.155303,246.556263,793.069699
Close Date,2020-12-31 22:31:48,2021-01-06 15:40:54,2020-12-31 16:13:30,2020-12-24 15:18:02,2020-12-30 19:16:18,2020-12-24 14:30:12,2020-12-23 16:50:27,2020-12-23 16:50:14,2020-12-23 15:40:00,2020-12-23 15:38:42,...,2022-05-11 12:38:36,2022-05-11 12:38:23,2022-05-23 15:42:20,2022-05-12 14:57:05,2022-05-12 08:54:38,2022-05-10 13:38:22,2022-05-09 14:01:14,2022-05-09 13:47:26,2022-05-09 13:45:49,2022-04-28 16:46:42
Spread,3.74,4.95,1.28,9.54,1.09,4.05,1.16,0.89,1.17,1.17,...,0.77,0.77,0.4,4.07,4.05,3.85,3.84,3.84,5.28,7.94
Close Rate,750.16,763.55,713.91,600.13,694.29,227.86,643.23,643.42,649.61,649.8,...,12202.4,12217.8,12000.05,12075.55,11841.4,12437.35,12419.45,12436.75,250.76,867.48
Profit,0.12,-251.17,-64.78,-9.44,-55.06,-251.53,5.59,3.28,-1.68,0.53,...,100.13,100.54,8.04,-502.04,2.53,30.43,106.84,112.1,94.46,187.45
Rollover Fees and Dividends,-0.14,-1.5,-0.41,0.0,-0.34,-0.45,0.0,0.0,0.0,0.0,...,0.0,0.0,-2.54,0.0,0.0,0.0,0.0,0.0,0.0,0.0
close_unix_timestamp,1609453908.0,1609947654.0,1609431210.0,1608823082.0,1609355778.0,1608820212.0,1608742227.0,1608742214.0,1608738000.0,1608737922.0,...,1652272716.0,1652272703.0,1653320540.0,1652367425.0,1652345678.0,1652189902.0,1652104874.0,1652104046.0,1652103949.0,1651164402.0
Close Rate_Eur,609.414997,618.246594,579.966221,491.206445,564.062151,186.503425,526.400211,526.555701,531.621412,531.776902,...,11538.225146,11552.786926,11225.207595,11468.031055,11245.661103,11749.066204,11747.30448,11763.668197,237.18877,821.303835
Amount_close_Eur,162.381673,2227.62656,579.966221,416.973853,491.568883,1840.373275,526.400211,406.499948,531.621412,531.776902,...,3687.605218,3687.222134,1863.33956,19470.583677,18996.204472,18864.453434,18816.538633,18811.564142,2786.17655,4170.780448
Spread_Eur,3.059805,4.035239,1.047206,7.832911,0.889647,3.325292,0.954123,0.732043,0.962348,0.962348,...,0.73284,0.73284,0.378476,3.92344,3.90416,3.657155,3.658331,3.658331,5.030205,7.581508
Fee_Eur,-0.114538,-1.2228,-0.335433,0.0,-0.277505,-0.369477,0.0,0.0,0.0,0.0,...,0.0,0.0,-2.403323,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [213]:
df20 = df_trimmed[df_trimmed['close_unix_timestamp'] <= 1609455599]
df20and21 = df_trimmed[df_trimmed['close_unix_timestamp'] <= 1640991599]
df21 = df20and21[df20and21['close_unix_timestamp'] > 1609455599]
df22 = df_trimmed[df_trimmed['close_unix_timestamp'] > 1640991599]

In [214]:
cfds_open_amount2020 = df20['Amount_open_Eur'].sum()
cfds_open_amount2021 = df21['Amount_open_Eur'].sum()
cfds_open_amount2022 = df22['Amount_open_Eur'].sum()
cfds_close_amount2020 = df20['Amount_close_Eur'].sum()
cfds_close_amount2021 = df21['Amount_close_Eur'].sum()
cfds_close_amount2022 = df22['Amount_close_Eur'].sum()
cfds_close_Spread_Eur2020 = df20['Spread_Eur'].sum()
cfds_close_Spread_Eur2021 = df21['Spread_Eur'].sum()
cfds_close_Spread_Eur2022 = df22['Spread_Eur'].sum()
cfds_close_Fee_Eur2020 = df20['Fee_Eur'].sum()
cfds_close_Fee_Eur2021 = df21['Fee_Eur'].sum()
cfds_close_Fee_Eur2022 = df22['Fee_Eur'].sum()
cfds_total_close_eur_2020 = cfds_close_amount2020 - cfds_close_Spread_Eur2020 + cfds_close_Fee_Eur2020
cfds_total_close_eur_2021 = cfds_close_amount2021 - cfds_close_Spread_Eur2021 + cfds_close_Fee_Eur2021
cfds_total_close_eur_2022 = cfds_close_amount2022 - cfds_close_Spread_Eur2022 + cfds_close_Fee_Eur2022
profit2020 = cfds_total_close_eur_2020 - cfds_open_amount2020
profit2021 = cfds_total_close_eur_2021 - cfds_open_amount2021
profit2022 = cfds_total_close_eur_2022 - cfds_open_amount2022
print('CFD_Open_amount_2020:',cfds_open_amount2020)
print('CFD_Close_amount_2020:',cfds_total_close_eur_2020)
print('Profit_CFD_2020:', profit2020)
print('*************************************************')
print('CFD_Open_amount_2021:',cfds_open_amount2021)
print('CFD_Close_amount_2021:',cfds_total_close_eur_2021)
print('Profit_CFD_2021:', profit2021)
print('*************************************************')
print('CFD_Open_amount_2022:',cfds_open_amount2022)
print('CFD_Close_amount_2022:',cfds_total_close_eur_2022)
print('Profit_CFD_2022:', profit2022)

CFD_Open_amount_2020: 103101.97169272062
CFD_Close_amount_2020: 101229.70845869962
Profit_CFD_2020: -1872.2632340209966
*************************************************
CFD_Open_amount_2021: 22698.371581931897
CFD_Close_amount_2021: 22180.660584812802
Profit_CFD_2021: -517.7109971190948
*************************************************
CFD_Open_amount_2022: 16544.076420835845
CFD_Close_amount_2022: 16210.908792934797
Profit_CFD_2022: -333.16762790104804

In [82]:
df_et_close_eur1.columns

Index(['Position ID', 'Action', 'Units', 'Close Date', 'Spread', 'Close Rate',
       'Profit', 'Rollover Fees and Dividends', 'Date', 'Open', 'High', 'Low',
       'Close', 'Weekday', 'Close Rate_Eur', 'Amount_close_Eur', 'Spread_Eur',
       'Fee_Eur'],
      dtype='object')

In [ ]:
total_close_amount = df_et_close_eur1['Amount_close_Eur'].sum()
total_Spread_Eur = df_et_close_eur1['Spread_Eur'].sum()
total_Fee_Eur = df_et_close_eur1['Fee_Eur'].sum()

In [41]:
df_eur2usd = pd.read_csv('/content/eur_usd_all_plus_weekends.csv')

In [36]:
df_eur2usd.columns

Index(['Date', 'Open', 'High', 'Low', 'Close', 'Weekday'], dtype='object')

In [42]:
df_eur2usd['Date'] = pd.to_datetime(df_eur2usd['Date'],dayfirst=True)

In [43]:
df = pd.concat([df_2020, df_2021, df_2022])

In [48]:
df.reset_index(inplace=True)
df = df.drop('index',axis=1)

In [44]:
df['Open Datetime'] = pd.to_datetime(df['Open Datetime'],dayfirst=True)
df['Close Datetime'] = pd.to_datetime(df['Close Datetime'],dayfirst=True)