<a href="https://colab.research.google.com/github/VijayTaori/Lifo_step1/blob/main/Copy_of_Detailed_lifo_Polygon.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import datetime as dt
import time
import calendar
df_open = pd.read_csv('/content/et_open_alldata.csv')
df_close = pd.read_csv('/content/et_close_alldata.csv')
df_close['Close Datetime'] = pd.to_datetime(df_close['Close_unix_timestamp'],dayfirst=True,unit='s')
df_open['Open Datetime'] = pd.to_datetime(df_open['Open_unix_timestamp'],dayfirst=True,unit='s')
df_close_btc = df_close[df_close['Close Action'] =='Buy Polygon']
df_open_btc = df_open[df_open['Open Action'] =='Buy Polygon']
df_close_btc_original = df_close_btc
df_open_btc_original = df_open_btc
df_close_btc.reset_index(inplace=True)
df_close_btc = df_close_btc.drop('index', axis=1)
df_close_btc.reset_index(inplace=True)
df_close_btc.rename(columns={'index':'Original_Close_index'},inplace=True)
df_open_btc.reset_index(inplace=True)
df_open_btc = df_open_btc.drop('index', axis=1)
df_open_btc.reset_index(inplace=True)
df_open_btc.rename(columns={'index':'Original_Open_index'},inplace=True)
data_btc = {}
df_lifo_btc = pd.DataFrame(data_btc, 
                           columns=['Original_Open_index','Original_Close_index',
                                    'Open Position ID', 'Close Position ID',
                                    'Open Units','Close Units','Spread_Eur',
                                    'Open Amount_Eur','Amount_close_Eur',
                                    'Open Datetime', 'Close Datetime',
                                    'Open Rate_Eur', 'Close Rate_Eur',
                                    'Open Action', 'Close Action', 
                                    'Open Amount','Close Rate', 'Open Rate',
                                    'Close Spread', 'Close Profit USD',
                                    'Close_Date','Open_Date',
                                    'Close_unix_timestamp','EurOpen_y', 
                                    'EurHigh_y','EurLow_y', 'EurClose_y',
                                    'EurWeekday_y', 'Open_unix_timestamp',
                                    'EurOpen_x', 'EurHigh_x','EurLow_x', 
                                    'EurClose_x','EurWeekday_x'
                                    ]
                           )

In [ ]:
df_close['Close Action'].unique()

array(['Buy Bitcoin', 'Buy Ethereum', 'Buy XRP', 'Buy Tezos', 'Buy EOS',
       'Buy Cardano', 'Buy Litecoin', 'Buy Build and Build', 'Buy TRON',
       'Buy Dogecoin', 'Buy Chainlink', 'Buy Uniswap', 'Buy Polygon',
       'Buy Stellar', 'Buy Decentraland', 'Buy Aave', 'Buy IOTA',
       'Buy Shiba (in millions)', 'Buy Enjin', 'Buy Maker',
       'Buy Algorand', 'Buy Solana', 'Buy Polkadot', 'Buy Songbird'],
      dtype=object)

In [ ]:
# Let's build a index selector for df_close_btc
close_unit_index = 0
value_close_units = df_close_btc.loc[close_unit_index, 'Close Units']
final_close_unit_index = df_open_btc.shape[0]
fruit_list = list(range(400))
serial_number_for_loop = 0
serial_number_if_loop = 0
serial_number_elif_loop_1 = 0
serial_number_elif_loop_2 = 0
serial_number_else_loop = 0
for x in fruit_list:#while close_unit_index < final_close_unit_index:
  serial_number_for_loop = serial_number_for_loop + 1
  print('For loop run number:',serial_number_for_loop)
  i = 0
  #if value_close_units == 0:
  #  i = 1
  #else:
  #  i = 0
  print('i =',i)
  close_unit_index = close_unit_index + i
  value_close_units = df_close_btc.loc[close_unit_index, 'Close Units']
  # How to set up an upper limit on this variable?? use df.shape[0]
  # Choosing first row from df_close_btc where the units are = values_of_units
  # Assign it as new DF
  # change the reset the index and the drop the 'index' column
  df_latest_row_from_close = df_close_btc[close_unit_index:(close_unit_index+1)]
  df_latest_row_from_close.reset_index(inplace=True)
  current_close_index = df_latest_row_from_close.at[0,'index']
  df_latest_row_from_close = df_latest_row_from_close.drop('index',axis=1)
  # Get the datetime value from the df_latest_row_from_close
  close_unit_datetime = df_close_btc.loc[close_unit_index,'Close Datetime']
  print('close_unit_datetime:',close_unit_datetime)
  # find all the transaction datetimes from df_open that were opened before the close_unit_datetime
  open_datetimes_b4 = df_open_btc['Open Datetime'][df_open_btc['Open Datetime'] < close_unit_datetime]
  #Latest datetime beofore close datetime
  open_datetime_lifo = open_datetimes_b4.max()
  #if open_datetime_lifo == pd.NaT:
  #  break
  #else:
  #  continue
  print('open_datetime_lifo:',open_datetime_lifo)
  '''
  Remember that even if only one value for open_datetime_lifo is chosen
  this can still result in chosing more than one rows in that case last row 
  should be chosen
  '''
  # Corresponding row for the open_datetime_lifo 
  # let's make a new DF
  df_latest_last_row_open = df_open_btc[df_open_btc['Open Datetime'] == open_datetime_lifo]
  df_latest_last_row_open = df_latest_last_row_open[::-1]
  df_latest_last_row_open = df_latest_last_row_open[0:1]
  df_latest_last_row_open.reset_index(inplace=True)
  current_open_index = df_latest_last_row_open.at[0,'index']
  df_latest_last_row_open = df_latest_last_row_open.drop('index', axis=1)
  value_open_units = df_latest_last_row_open.loc[0,'Open Units']
  print('value_close_units:',value_close_units, 'value_open_units:',value_open_units)
  abs_diff_open_close_units = abs(value_close_units - value_open_units)
  print('abs_diff_open_close_units:',abs_diff_open_close_units)
  value_open_amount = df_latest_last_row_open.loc[0,'Open Amount_Eur']
  value_close_amount = df_latest_row_from_close.loc[0,'Amount_close_Eur']
  value_close_spread_eur = df_latest_row_from_close.loc[0,'Spread_Eur']
  close_Rate_eur = df_latest_row_from_close.loc[0,'Close Rate_Eur']
  open_Rate_eur = df_latest_last_row_open.loc[0,'Open Rate_Eur']
  #Remember that 'Open_index' and 'Close_index' columns host original indices
  # This is important as df_open_btc starts to drop rows the original indices will come in handy 
  # And in case of df_close_btc this should remain equal to the indices from DataFrame
  original_open_index = df_latest_last_row_open.at[0, 'Original_Open_index']
  #Remeber that earlier defined close_unit_index is the index of units from df_close_btc DataFrame
  # close_index should essentially be equal in integer value of close_unit_index
  close_index = df_latest_row_from_close.at[0, 'Original_Close_index']
  is_it_equal = close_unit_index == close_index
  print('(close_unit_index = close_index) is:',is_it_equal)
  if value_close_units > value_open_units:
    serial_number_if_loop = serial_number_if_loop + 1
    print('If_loop run number:',serial_number_if_loop)
    #First lets extract all the values from open DF df_latest_last_row_open
    newth_list_open_half = df_latest_last_row_open.to_dict('records')
    newth_dict_open_half = newth_list_open_half[0]
    #Then permanently delete the first row of the open DF df_latest_last_row_open from df_open_btc
    df_open_btc = df_open_btc.drop(current_open_index,axis=0)
    #Then reset index and drop the new column 'index' in df_open_btc
    df_open_btc.reset_index(inplace=True)
    df_open_btc = df_open_btc.drop('index',axis=1)
    #Now lets work on the Close_side
    #First define the changed values for df_latest_row_from_close
    changed_value_close_units = value_open_units
    changed_value_close_amount = changed_value_close_units * close_Rate_eur
    changed_value_close_spread = changed_value_close_units * value_close_spread_eur/value_close_units
    #First change the values of 'units' and 'amount' and 'spread' in the df_latest_row_from_close
    # These values will be reported
    df_latest_row_from_close.at[0,'Close Units'] = changed_value_close_units
    df_latest_row_from_close.at[0,'Amount_close_Eur'] = changed_value_close_amount
    df_latest_row_from_close.at[0,'Spread_Eur'] = changed_value_close_spread
    # Now lets extract all the values from df_latest_row_from_close
    newth_list_close_half = df_latest_row_from_close.to_dict('records')
    newth_dict_close_half = newth_list_close_half[0]
    newth_whole_dict = {**newth_dict_open_half,**newth_dict_close_half}
    # Now append the newth_whole_dict to the new records DataFrame df_lifo_btc
    df_lifo_btc = df_lifo_btc.append(newth_whole_dict, ignore_index=True)
    # and after that change the value of units and amount in original df_open_btc
    df_close_btc.at[close_unit_index,'Close Units'] = value_close_units - changed_value_close_units
    df_close_btc.at[close_unit_index,'Amount_close_Eur'] = value_close_amount - changed_value_close_amount
    df_close_btc.at[close_unit_index,'Spread_Eur'] = value_close_spread_eur - changed_value_close_spread
    print('value_close_units:',value_close_units)
    print('value_open_units:',value_open_units)
    print('close_unit_index:',close_unit_index)
    print('If_loop run number:',serial_number_if_loop,'finished')
  elif value_close_units < value_open_units:
    serial_number_elif_loop_1 = serial_number_elif_loop_1 + 1
    print('Elif_loop_1 run number:', serial_number_elif_loop_1)
    ## First lets extract all the values form close DF df_latest_row_from_close
    newth_list_close_half = df_latest_row_from_close.to_dict('records')
    newth_dict_close_half = newth_list_close_half[0]
    #First define the changed values for df_latest_row_from_close
    ## In elif statement changed values are same as we made only one change
    changed_value_close_units = value_close_units # value_open_units in if statement was here change to value_close_unit
    changed_value_close_amount = changed_value_close_units * close_Rate_eur
    changed_value_close_spread = changed_value_close_units * value_close_spread_eur/value_close_units
    # and after that change the value of units and amount and spread in original df_close_btc
    df_close_btc.at[close_unit_index,'Close Units'] = value_close_units - changed_value_close_units
    df_close_btc.at[close_unit_index,'Amount_close_Eur'] = value_close_amount - changed_value_close_amount
    df_close_btc.at[close_unit_index,'Spread_Eur'] = value_close_spread_eur - changed_value_close_spread
    #First change the values of 'units' and 'amount' and 'spread' in the df_latest_row_from_close
    # These values will be reported
    df_latest_row_from_close.at[0,'Close Units'] = changed_value_close_units
    df_latest_row_from_close.at[0,'Amount_close_Eur'] = changed_value_close_amount
    df_latest_row_from_close.at[0,'Spread_Eur'] = changed_value_close_spread
    # Now lets extract all the values from df_latest_row_from_close
    ## Now lets work on the values from open DF df_latest_last_row_lifo
    ## Remember we want to get back the values in the df_latest_row_from_close 
    ## we will have to assign changed_values for open_units and open_amount
    changed_value_open_units = value_close_units
    changed_value_open_amount = changed_value_open_units * open_Rate_eur
    df_latest_last_row_open.at[0,'Open Units'] = changed_value_close_units
    df_latest_last_row_open.at[0,'Open Amount_Eur'] = changed_value_close_amount
    ##After the values are changed extract the values which will then be reported
    newth_list_open_half = df_latest_last_row_open.to_dict('records')
    newth_dict_open_half = newth_list_open_half[0]
    ## and then this time change the original values in the df_open_units
    newth_whole_dict = {**newth_dict_open_half,**newth_dict_close_half}
    # Now append the newth_whole_dict to the new records DataFrame df_lifo_btc
    df_lifo_btc = df_lifo_btc.append(newth_whole_dict, ignore_index=True)
    # and after that change the value of units and amount in original df_open_btc
    df_open_btc.at[current_open_index,'Open Units'] = value_open_units - changed_value_open_units
    df_open_btc.at[current_open_index,'Open Amount_Eur'] = value_open_amount - changed_value_open_amount
    print('value_close_units:',value_close_units)
    print('value_open_units:',value_open_units)
    print('close_unit_index:',close_unit_index)
    print('Elif_loop_1 run number:', serial_number_elif_loop_1, 'finished')
  elif value_close_units == value_open_units:
    serial_number_elif_loop_2 = serial_number_elif_loop_2 + 1
    if value_close_units == 0:
      print('We are running value_close_units == 0 condition')
      print('This is in the Elif_loop_number_2:',serial_number_elif_loop_2)
      #Then permanently delete the first row of the open DF df_latest_last_row_open from df_open_btc
      df_open_btc = df_open_btc.drop(current_open_index,axis=0)
      #Then reset index and drop the new column 'index' in df_open_btc
      df_open_btc.reset_index(inplace=True)
      df_open_btc = df_open_btc.drop('index',axis=1)
      print('We are breaking')
      break
    else:
      #First lets extract all the values from open DF df_latest_last_row_open
      newth_list_open_half = df_latest_last_row_open.to_dict('records')
      newth_dict_open_half = newth_list_open_half[0]
      #Then permanently delete the first row of the open DF df_latest_last_row_open from df_open_btc
      df_open_btc = df_open_btc.drop(current_open_index,axis=0)
      #Then reset index and drop the new column 'index' in df_open_btc
      df_open_btc.reset_index(inplace=True)
      df_open_btc = df_open_btc.drop('index',axis=1)
      ### Second lets extract all the values form close DF df_latest_row_from_close
      newth_list_close_half = df_latest_row_from_close.to_dict('records')
      newth_dict_close_half = newth_list_close_half[0]
      #First define the changed values for df_latest_row_from_close
      changed_value_close_units = value_open_units
      changed_value_close_amount = changed_value_close_units * close_Rate_eur
      changed_value_close_spread = changed_value_close_units * value_close_spread_eur/value_close_units
      # and after that change the value of units and amount in original df_open_btc
      df_close_btc.at[close_unit_index,'Close Units'] = value_close_units - changed_value_close_units
      df_close_btc.at[close_unit_index,'Amount_close_Eur'] = value_close_amount - changed_value_close_amount
      df_close_btc.at[close_unit_index,'Spread_Eur'] = value_close_spread_eur - changed_value_close_spread
    print('value_close_units:',value_close_units)
    print('value_open_units:',value_open_units)
    print('close_unit_index:',close_unit_index)
    print('Elif_loop_2 run number:', serial_number_elif_loop_2, 'finished')
  else:
    serial_number_else_loop = serial_number_else_loop + 1
    print('Do we need to write more code? The answer is a: BIG YES!!')
    print('Or on second thought this is a silly mistake!!!')
    print('value_close_units:',value_close_units)
    print('value_open_units:',value_open_units)
    print('close_unit_index:',close_unit_index)
    print('serial_number_else_loop:', serial_number_else_loop, 'finished')
    print('We are breaking here!!')
    break
  value_close_units = df_close_btc.loc[close_unit_index, 'Close Units']
  if value_close_units == 0:
    i = 1
  else:
    i = 0
  print('i =',i)
  close_unit_index = close_unit_index + i
  print('For loop run number:',serial_number_for_loop,'finished')
  print('****************************************')

For loop run number: 1
i = 0
close_unit_datetime: 2021-10-15 08:34:28
open_datetime_lifo: 2021-09-20 20:15:55
value_close_units: 827.551085 value_open_units: 16.401991
abs_diff_open_close_units: 811.149094
(close_unit_index = close_index) is: True
If_loop run number: 1
value_close_units: 827.551085
value_open_units: 16.401991
close_unit_index: 0
If_loop run number: 1 finished
i = 0
For loop run number: 1 finished
****************************************
For loop run number: 2
i = 0
close_unit_datetime: 2021-10-15 08:34:28
open_datetime_lifo: 2021-09-20 20:15:55
value_close_units: 811.149094 value_open_units: 827.551085
abs_diff_open_close_units: 16.401990999999953
(close_unit_index = close_index) is: True
Elif_loop_1 run number: 1
value_close_units: 811.149094
value_open_units: 827.551085
close_unit_index: 0
Elif_loop_1 run number: 1 finished
i = 1
For loop run number: 2 finished
****************************************
For loop run number: 3
i = 0
close_unit_datetime: 2021-12-22 16:18:57
open_datetime_lifo: 2021-09-20 20:15:55
value_close_units: 16.401991 value_open_units: 16.401990999999953
abs_diff_open_close_units: 4.618527782440651e-14
(close_unit_index = close_index) is: True
If_loop run number: 2
value_close_units: 16.401991
value_open_units: 16.401990999999953
close_unit_index: 1
If_loop run number: 2 finished
i = 0
For loop run number: 3 finished
****************************************
For loop run number: 4
i = 0
close_unit_datetime: 2021-12-22 16:18:57
open_datetime_lifo: NaT

KeyError: ignored

In [ ]:
df_lifo_btc

,Original_Open_index,Original_Close_index,Open Position ID,Close Position ID,Open Units,Close Units,Spread_Eur,Open Amount_Eur,Amount_close_Eur,Open Datetime,...,EurHigh_y,EurLow_y,EurClose_y,EurWeekday_y,Open_unix_timestamp,EurOpen_x,EurHigh_x,EurLow_x,EurClose_x,EurWeekday_x
0,1,0,1317468211,1349360858,16.401991,16.401991,0.655201,16.606043,22.161419,2021-09-20 20:15:55,...,1.16198,1.158883,1.159152,Friday,1632168955,1.172883,1.173709,1.170056,1.172993,Monday
1,0,0,1349360858,1349360858,811.149094,811.149094,32.402494,1095.977622,1095.977623,2021-09-20 20:15:55,...,1.16198,1.158883,1.159152,Friday,1632168955,1.172883,1.173709,1.170056,1.172993,Monday
2,0,1,1349360858,1317468211,16.401991,16.401991,1.109600,20.011067,37.454732,2021-09-20 20:15:55,...,1.13420,1.126532,1.128757,Wednesday,1632168955,1.172883,1.173709,1.170056,1.172993,Monday

In [ ]:
df_open_btc

Empty DataFrame
Columns: [Original_Open_index, Open Position ID, Open Action, Open Amount, Open Units, Open Datetime, Open Rate, Open_Date, Open_unix_timestamp, EurOpen_x, EurHigh_x, EurLow_x, EurClose_x, EurWeekday_x, Open Amount_Eur, Open Rate_Eur]
Index: []

In [ ]:
df_close_btc

,Original_Close_index,Close Position ID,Close Action,Close Units,Close Datetime,Close Rate,Close Spread,Close Profit USD,Close_Date,Close_unix_timestamp,EurOpen_y,EurHigh_y,EurLow_y,EurClose_y,EurWeekday_y,Close Rate_Eur,Amount_close_Eur,Spread_Eur
0,0,1349360858,Buy Polygon,0.000000e+00,2021-10-15 08:34:28,1.57,38.31,321.34,15/10/2021 00:00,1634286868,1.159071,1.16198,1.158883,1.159152,Friday,1.351142,6.701127e-07,0.000000e+00
1,1,1317468211,Buy Polygon,4.618528e-14,2021-12-22 16:18:57,2.59,1.25,23.00,22/12/2021 00:00,1640189937,1.129050,1.13420,1.126532,1.128757,Wednesday,2.283548,6.180990e-09,3.108624e-15

In [ ]:
df_lifo_btc.dtypes

Original_Open_index              object
Original_Close_index             object
Open Position ID                 object
Close Position ID                object
Open Units                      float64
Close Units                     float64
Spread_Eur                      float64
Open Amount_Eur                 float64
Amount_close_Eur                float64
Open Datetime            datetime64[ns]
Close Datetime           datetime64[ns]
Open Rate_Eur                   float64
Close Rate_Eur                  float64
Open Action                      object
Close Action                     object
Open Amount                     float64
Close Rate                      float64
Open Rate                       float64
Close Spread                    float64
Close Profit USD                float64
Close_Date                       object
Open_Date                        object
Close_unix_timestamp             object
EurOpen_y                       float64
EurHigh_y                       float64
EurLow_y                        float64
EurClose_y                      float64
EurWeekday_y                     object
Open_unix_timestamp              object
EurOpen_x                       float64
EurHigh_x                       float64
EurLow_x                        float64
EurClose_x                      float64
EurWeekday_x                     object
time_difference         timedelta64[ns]
time_difference_days            float64
dtype: object

In [ ]:
df_lifo_btc['time_difference'] = df_lifo_btc['Close Datetime'] - df_lifo_btc['Open Datetime']

In [ ]:
df_lifo_btc['time_difference_days'] = df_lifo_btc['time_difference'] / np.timedelta64(1, 'D')

In [ ]:
df_lifo_btc['time_difference_days']

0    24.512882
1    24.512882
2    92.835440
Name: time_difference_days, dtype: float64

In [ ]:
df_lifo_btc_taxable = df_lifo_btc[df_lifo_btc['time_difference_days'] < 365]

In [ ]:
df_lifo_btc_taxable.shape

(3, 36)

In [ ]:
df_lifo_btc_taxable_2020 = df_lifo_btc_taxable[df_lifo_btc_taxable['Close_unix_timestamp'] <= 1609455599]

In [ ]:
df_lifo_btc_taxable_2020['Open Amount_Eur'].sum()

0.0

In [ ]:
df_lifo_btc_taxable_2020['Amount_close_Eur'].sum()

0.0

In [ ]:
df_lifo_btc_taxable_2020_2021 = df_lifo_btc_taxable[df_lifo_btc_taxable['Close_unix_timestamp'] <= 1640991599]

In [ ]:
df_lifo_btc_taxable_2021 = df_lifo_btc_taxable_2020_2021[df_lifo_btc_taxable_2020_2021['Close_unix_timestamp'] > 1609455599]

In [ ]:
df_lifo_btc_taxable_2021['Open Amount_Eur'].sum()

1132.594731593741

In [ ]:
df_lifo_btc_taxable_2021['Amount_close_Eur'].sum()

1155.593773693819

In [ ]:
df_lifo_btc_taxable_2022 = df_lifo_btc_taxable[df_lifo_btc_taxable['Close_unix_timestamp'] > 1640991599]

In [ ]:
df_lifo_btc_taxable_2022['Open Amount_Eur'].sum()

0.0

In [ ]:
df_lifo_btc_taxable_2022['Amount_close_Eur'].sum()

0.0