In [2]:
import pandas as pd
import numpy as np
import datetime as dt

In [3]:
df_open = pd.read_csv('/content/et_crypto_open_eur_rate.csv')
df_close = pd.read_csv('/content/et_crypto_close_eur_rate.csv')

In [5]:
df_open_unix = pd.read_csv('/content/crypto_et_open_unixTstm.csv')
df_close_unix = pd.read_csv('/content/crypto_et_close_unixTstm.csv')

In [4]:
df_open['Open Datetime'] = pd.to_datetime(df_open['Open Datetime'],dayfirst=True)
df_open['Open Date'] = pd.to_datetime(df_open['Open Date'],dayfirst=True)
df_close['Close Datetime'] = pd.to_datetime(df_close['Close Datetime'],dayfirst=True)
df_close['Close Date'] = pd.to_datetime(df_close['Close Date'],dayfirst=True)

In [6]:
df_open.columns

Index(['Open_Position ID', 'Open Datetime', 'Open Date', 'Open Action',
       'Open Units', 'Open Amount_Eur', 'Open Rate_Eur'],
      dtype='object')

In [11]:
df_open_unix.columns

Index(['Open_Position ID', 'Action', 'Amount', 'Units', 'Open Date',
       'Open Rate', 'Date', 'open_unix_timestamp'],
      dtype='object')

In [21]:
df_close.columns

Index(['Close Position ID', 'Close Datetime', 'Close Date', 'Close Action',
       'Close Units', 'Close Amount_Eur', 'Close Rate_Eur'],
      dtype='object')

In [22]:
df_close_unix.columns

Index(['Position ID', 'Action', 'Units', 'Close Date', 'Spread', 'Profit',
       'Close Rate', 'Date', 'close_unix_timestamp'],
      dtype='object')

In [8]:
df_open_unix.rename(columns={'Position ID':'Open_Position ID'}, inplace=True)

In [23]:
df_close_unix.rename(columns={'Position ID':'Close Position ID'}, inplace=True)

In [9]:
df_open_unix['Open_Position ID'].nunique()

810

In [24]:
df_close_unix.nunique()

Close Position ID       810
Action                   24
Units                   802
Close Date              291
Spread                  512
Profit                  749
Close Rate              427
Date                    116
close_unix_timestamp    578
dtype: int64

In [25]:
df_close.nunique()

Close Position ID    810
Close Datetime       291
Close Date           116
Close Action          24
Close Units          802
Close Amount_Eur     809
Close Rate_Eur       447
dtype: int64

In [15]:
df_open_ut = pd.merge(df_open,df_open_unix,on='Open_Position ID')

In [26]:
df_close_ut = pd.merge(df_close,df_close_unix,on='Close Position ID')

In [16]:
df_open_ut.columns

Index(['Open_Position ID', 'Open Datetime', 'Open Date_x', 'Open Action',
       'Open Units', 'Open Amount_Eur', 'Open Rate_Eur', 'Action', 'Amount',
       'Units', 'Open Date_y', 'Open Rate', 'Date', 'open_unix_timestamp'],
      dtype='object')

In [19]:
df_open_ut.nunique()

Open_Position ID       810
Open Datetime          660
Open Date_x            221
Open Action             24
Open Units             802
Open Amount_Eur        471
Open Rate_Eur          741
open_unix_timestamp    768
dtype: int64

In [28]:
df_close_ut.columns

Index(['Close Position ID', 'Close Datetime', 'Close Date_x', 'Close Action',
       'Close Units', 'Close Amount_Eur', 'Close Rate_Eur', 'Action', 'Units',
       'Close Date_y', 'Spread', 'Profit', 'Close Rate', 'Date',
       'close_unix_timestamp'],
      dtype='object')

In [18]:
df_open_ut.drop(['Action', 'Amount',
                 'Units', 'Open Date_y',
                 'Open Rate', 'Date',],axis=1,inplace=True)

In [30]:
df_close_ut.drop(['Action', 'Units',
                  'Close Date_y', 'Spread',
                  'Profit', 'Close Rate',
                  'Date'],axis=1,inplace=True)

In [31]:
df_close_ut.nunique()

Close Position ID       810
Close Datetime          291
Close Date_x            116
Close Action             24
Close Units             802
Close Amount_Eur        809
Close Rate_Eur          447
close_unix_timestamp    578
dtype: int64

In [53]:
df_close_ut.to_csv('crypto_et_close_ut.csv',index=False)
df_open_ut.to_csv('crypto_et_open_ut.csv',index=False)

In [34]:
data = {}

In [35]:
data_btc = {}

In [36]:
df_close_ut.columns

Index(['Close Position ID', 'Close Datetime', 'Close Date_x', 'Close Action',
       'Close Units', 'Close Amount_Eur', 'Close Rate_Eur',
       'close_unix_timestamp'],
      dtype='object')

In [37]:
df_open_ut.columns

Index(['Open_Position ID', 'Open Datetime', 'Open Date_x', 'Open Action',
       'Open Units', 'Open Amount_Eur', 'Open Rate_Eur',
       'open_unix_timestamp'],
      dtype='object')

In [38]:
df_lifo = pd.DataFrame(data, columns=['Open_Position ID', 'Open Datetime', 'Open Date_x', 'Open Action',
       'Open Units', 'Open Amount_Eur', 'Open Rate_Eur',
       'open_unix_timestamp','Close Position ID', 'Close Datetime', 'Close Date_x', 'Close Action',
       'Close Units', 'Close Amount_Eur', 'Close Rate_Eur',
       'close_unix_timestamp'])

In [39]:
df_lifo_btc = pd.DataFrame(data_btc, columns=['Open_Position ID', 'Open Datetime', 'Open Date_x', 'Open Action',
       'Open Units', 'Open Amount_Eur', 'Open Rate_Eur',
       'open_unix_timestamp','Close Position ID', 'Close Datetime', 'Close Date_x', 'Close Action',
       'Close Units', 'Close Amount_Eur', 'Close Rate_Eur',
       'close_unix_timestamp'])

In [40]:
df_lifo

Empty DataFrame
Columns: [Open_Position ID, Open Datetime, Open Date_x, Open Action, Open Units, Open Amount_Eur, Open Rate_Eur, open_unix_timestamp, Close Position ID, Close Datetime, Close Date_x, Close Action, Close Units, Close Amount_Eur, Close Rate_Eur, close_unix_timestamp]
Index: []

In [41]:
df_lifo_btc

Empty DataFrame
Columns: [Open_Position ID, Open Datetime, Open Date_x, Open Action, Open Units, Open Amount_Eur, Open Rate_Eur, open_unix_timestamp, Close Position ID, Close Datetime, Close Date_x, Close Action, Close Units, Close Amount_Eur, Close Rate_Eur, close_unix_timestamp]
Index: []

In [ ]:
'''
df_lifo['Open Datetime'] = pd.to_datetime(df_lifo['Open Datetime'],dayfirst=True)
df_lifo['Open Date'] = pd.to_datetime(df_lifo['Open Date'],dayfirst=True)
df_lifo['Close Datetime'] = pd.to_datetime(df_lifo['Close Datetime'],dayfirst=True)
df_lifo['Close Date'] = pd.to_datetime(df_lifo['Close Date'],dayfirst=True)
'''

In [32]:
df_open_ut.columns

Index(['Open_Position ID', 'Open Datetime', 'Open Date_x', 'Open Action',
       'Open Units', 'Open Amount_Eur', 'Open Rate_Eur',
       'open_unix_timestamp'],
      dtype='object')

In [33]:
df_close_ut.columns

Index(['Close Position ID', 'Close Datetime', 'Close Date_x', 'Close Action',
       'Close Units', 'Close Amount_Eur', 'Close Rate_Eur',
       'close_unix_timestamp'],
      dtype='object')

In [42]:
df_close_ut_btc = df_close_ut[df_close_ut['Close Action']=='Buy Bitcoin']

In [46]:
#df_close_ut_btc.reset_index(inplace=True)
df_close_ut_btc.rename(columns={'index':'Close_index'},inplace=True)
df_close_ut_btc

/usr/local/lib/python3.8/dist-packages/pandas/core/frame.py:5039: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

,Close_index,Close Position ID,Close Datetime,Close Date_x,Close Action,Close Units,Close Amount_Eur,Close Rate_Eur,close_unix_timestamp
0,0,599996081,2020-05-01 11:44:00,2020-05-01,Buy Bitcoin,0.014149,115.062682,8194.258482,1588333464
1,1,610187469,2020-05-01 20:55:00,2020-05-01,Buy Bitcoin,0.058647,458.884862,7884.243731,1588366545
2,2,610190271,2020-05-01 20:56:00,2020-05-01,Buy Bitcoin,0.058881,461.070130,7890.334733,1588366565
3,3,609940706,2020-05-01 20:57:00,2020-05-01,Buy Bitcoin,0.118959,932.284501,7896.906842,1588366624
4,4,609941239,2020-05-01 20:57:00,2020-05-01,Buy Bitcoin,0.112364,881.648237,7906.338364,1588366674
...,...,...,...,...,...,...,...,...,...
199,804,1165132120,2022-05-12 09:16:00,2022-05-12,Buy Bitcoin,0.013298,344.769082,26469.346380,1652346960
200,805,1361963252,2022-05-12 09:16:00,2022-05-12,Buy Bitcoin,0.001490,38.527932,26401.130130,1652346992
201,806,1353186945,2022-05-12 09:16:00,2022-05-12,Buy Bitcoin,0.001611,41.680601,26417.027940,1652346989
202,807,1283235754,2022-05-12 09:16:00,2022-05-12,Buy Bitcoin,0.042603,1104.091794,26458.424940,1652346973
203,808,1370705010,2022-05-12 09:16:00,2022-05-12,Buy Bitcoin,0.006407,166.055431,26460.970110,1652346987

In [47]:
df_close_ut_btc.nunique()

Close_index             204
Close Position ID       204
Close Datetime           66
Close Date_x             34
Close Action              1
Close Units             203
Close Amount_Eur        204
Close Rate_Eur          135
close_unix_timestamp    134
dtype: int64

In [48]:
df_open_ut_btc = df_open[df_open['Open Action']=='Buy Bitcoin']

In [52]:
#df_open_ut_btc.reset_index(inplace=True)
df_open_ut_btc.rename(columns={'index':'Open_index'},inplace=True)
df_open_ut_btc

/usr/local/lib/python3.8/dist-packages/pandas/core/frame.py:5039: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

,Open_index,Open_Position ID,Open Datetime,Open Date,Open Action,Open Units,Open Amount_Eur,Open Rate_Eur
0,0,599295474,2020-04-17 13:09:00,2020-04-17,Buy Bitcoin,0.014029,92.484010,6592.389676
1,2,599996081,2020-04-17 18:42:00,2020-04-17,Buy Bitcoin,0.014149,92.484010,6536.362863
2,3,600052383,2020-04-18 13:49:00,2020-04-18,Buy Bitcoin,0.103664,693.630071,6691.116356
3,4,600057583,2020-04-18 16:48:00,2020-04-18,Buy Bitcoin,0.020751,138.726014,6685.280615
4,6,600061986,2020-04-18 21:07:00,2020-04-18,Buy Bitcoin,0.004376,29.419163,6723.069581
...,...,...,...,...,...,...,...,...
199,778,1353186945,2021-10-18 21:47:00,2021-10-18,Buy Bitcoin,0.001611,86.408019,53648.207030
200,780,1354684971,2021-10-19 20:54:00,2021-10-19,Buy Bitcoin,0.006812,377.664548,55444.520400
201,790,1361963252,2021-10-25 19:00:00,2021-10-25,Buy Bitcoin,0.001490,81.400745,54648.528540
202,798,1368128599,2021-10-29 09:51:00,2021-10-29,Buy Bitcoin,0.012804,677.735938,52932.721790
203,800,1370705010,2021-11-01 11:59:00,2021-11-01,Buy Bitcoin,0.006407,344.142212,53714.903330

In [ ]:
zeroth_close_units_btc = df_close_ut_btc.loc[0,'Close Units']

In [ ]:
zeroth_close_datetime_btc = df_close.loc[0,'Close Datetime']
zeroth_close_datetime_btc

Timestamp('2020-05-01 11:44:00')

In [ ]:
lifo_last_open_datetime = df_open_btc['Open Datetime'][df_open_btc['Open Datetime'] < zeroth_close_datetime_btc]

In [ ]:
lifo_last_open_datetime

0    2020-04-17 13:09:00
2    2020-04-17 18:42:00
3    2020-04-18 13:49:00
4    2020-04-18 16:48:00
6    2020-04-18 21:07:00
8    2020-04-18 21:37:00
10   2020-04-22 20:35:00
13   2020-04-23 18:50:00
15   2020-04-24 16:01:00
21   2020-04-25 13:22:00
22   2020-04-26 12:51:00
28   2020-04-29 07:56:00
30   2020-04-29 11:16:00
31   2020-04-29 17:24:00
32   2020-04-29 17:32:00
33   2020-04-29 17:33:00
34   2020-04-29 17:44:00
35   2020-04-29 17:44:00
36   2020-04-29 17:47:00
37   2020-04-29 20:13:00
38   2020-04-29 22:03:00
39   2020-04-29 22:11:00
40   2020-04-29 22:13:00
42   2020-04-30 04:00:00
43   2020-04-30 04:01:00
44   2020-04-30 04:02:00
45   2020-04-30 04:07:00
46   2020-04-30 04:08:00
47   2020-04-30 04:08:00
48   2020-04-30 04:13:00
49   2020-04-30 04:14:00
52   2020-04-30 10:04:00
54   2020-04-30 19:14:00
Name: Open Datetime, dtype: datetime64[ns]

In [ ]:
open_datetime_CU = df