<a href="https://colab.research.google.com/github/VijayTaori/Lifo_step1/blob/main/Lifo_step3_btc_first_row.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import datetime as dt

In [2]:
df_open = pd.read_csv('/content/crypto_et_open_final.csv')
df_close = pd.read_csv('/content/crypto_et_close_final.csv')

In [ ]:
df_close['Close Datetime'] = pd.to_datetime(df_close['close_unix_timestamp'],dayfirst=True,unit='s')
df_close

In [ ]:
df_open['Open Datetime'] = pd.to_datetime(df_open['open_unix_timestamp'],dayfirst=True,unit='s')
df_open

In [5]:
df_close_btc = df_close[df_close['Close Action']=='Buy Bitcoin']
df_open_btc = df_open[df_open['Open Action']=='Buy Bitcoin']

In [ ]:
#df_close_btc.reset_index(inplace=True)
#df_close_btc.rename(columns={'index':'Close_index'},inplace=True)
df_close_btc

In [ ]:
#df_open_btc.reset_index(inplace=True)
df_open_btc.rename(columns={'index':'Open_index'},inplace=True)
df_open_btc

In [11]:
# Let's build a index selector for df_close_btc
close_unit_index = 0
value_of_units = df_close_btc.loc[close_unit_index, 'Close Units']
close_unit_index = close_unit_index + 0 if value_of_units > 0 else 1
value_of_units
# How to set up an upper limit on this variable??

0.014149

In [ ]:
# Let's select the corresponding first element from units from df_close_btc
elementNumber_close_units_btc = df_close_btc.loc[close_unit_index,'Close Units']
elementNumber_close_units_btc

0.014149

In [13]:
# Choosing the one row from df_close where the units are = values_of_units
# Assign it as new DF
# change the reset the index and the drop the 'index' column
df_latest_row_from_close = df_close_btc[close_unit_index:(close_unit_index+1)]
df_latest_row_from_close.reset_index(inplace=True)
df_latest_row_from_close.drop('index',axis=1,inplace=True)
df_latest_row_from_close

/usr/local/lib/python3.8/dist-packages/pandas/core/frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

,Close_index,Close Position ID,Close Datetime,Close Date_x,Close Action,Close Units,Close Amount_Eur,Close Rate_Eur,close_unix_timestamp
0,0,599996081,2020-05-01 11:44:24,01/05/2020,Buy Bitcoin,0.014149,115.062682,8194.258482,1588333464

In [14]:
# Get the datetime value from the df_latest_row_from_close
close_unit_datetime = df_close_btc.loc[close_unit_index,'Close Datetime']
close_unit_datetime

Timestamp('2020-05-01 11:44:24')

In [ ]:
# find all the transaction datetimes from df_close that were opened before the close_unit_datetime
open_datetimes_b4 = df_open_btc['Open Datetime'][df_open_btc['Open Datetime'] < close_unit_datetime]
open_datetimes_b4

In [16]:
open_datetime_lifo = open_datetimes_b4.max()
open_datetime_lifo

Timestamp('2020-04-30 19:14:44')

In [17]:
# Corresponding row for the open_datetime_lifo 
# let's make a new DF
df_latest_last_row_lifo = df_open_btc[df_open_btc['Open Datetime'] == open_datetime_lifo]
df_latest_last_row_lifo.reset_index(inplace=True)
df_latest_last_row_lifo.drop('index', axis=1,inplace=True)
df_latest_last_row_lifo

/usr/local/lib/python3.8/dist-packages/pandas/core/frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

,Open_index,Open_Position ID,Open Datetime,Open Date_x,Open Action,Open Units,Open Amount_Eur,Open Rate_Eur,open_unix_timestamp
0,54,611192720,2020-04-30 19:14:44,30/04/2020,Buy Bitcoin,0.002861,23.071989,8062.921929,1588274084

In [ ]:
if value_of_units > value_of_units_open:

In [19]:
value_of_units_open = df_latest_last_row_lifo.loc[0,'Open Units']
value_of_units_open

0.002861