<a href="https://colab.research.google.com/github/VijayTaori/Lifo_step1/blob/main/Lifo_step2_btc_first_row1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [27]:
import pandas as pd
import numpy as np
import datetime as dt

In [28]:
df_open = pd.read_csv('/content/crypto_et_open_ut.csv')
df_close = pd.read_csv('/content/crypto_et_close_ut.csv')

In [29]:
print(df_open.columns)
print(df_close.columns)

Index(['Open_Position ID', 'Open Datetime', 'Open Date_x', 'Open Action',
       'Open Units', 'Open Amount_Eur', 'Open Rate_Eur',
       'open_unix_timestamp'],
      dtype='object')
Index(['Close Position ID', 'Close Datetime', 'Close Date_x', 'Close Action',
       'Close Units', 'Close Amount_Eur', 'Close Rate_Eur',
       'close_unix_timestamp'],
      dtype='object')

In [30]:
df_open['Open Datetime'] = pd.to_datetime(df_open['Open Datetime'],dayfirst=True)
df_open['Open Date_x'] = pd.to_datetime(df_open['Open Date_x'],dayfirst=True)
df_close['Close Datetime'] = pd.to_datetime(df_close['Close Datetime'],dayfirst=True)
df_close['Close Date_x'] = pd.to_datetime(df_close['Close Date_x'],dayfirst=True)

In [31]:
df_open.dtypes

Open_Position ID                int64
Open Datetime          datetime64[ns]
Open Date_x            datetime64[ns]
Open Action                    object
Open Units                    float64
Open Amount_Eur               float64
Open Rate_Eur                 float64
open_unix_timestamp             int64
dtype: object

In [10]:
#df_open['open_unix_timestamp'] = pd.to_numeric(df_open['open_unix_timestamp'])

In [32]:
df_open['Open Datetime'] = pd.to_datetime(df_open['open_unix_timestamp'],dayfirst=True,unit='s')

In [33]:
df_open.dtypes

Open_Position ID                int64
Open Datetime          datetime64[ns]
Open Date_x            datetime64[ns]
Open Action                    object
Open Units                    float64
Open Amount_Eur               float64
Open Rate_Eur                 float64
open_unix_timestamp             int64
dtype: object

In [34]:
df_open

,Open_Position ID,Open Datetime,Open Date_x,Open Action,Open Units,Open Amount_Eur,Open Rate_Eur,open_unix_timestamp
0,599295474,2020-04-17 13:09:20,2020-04-17,Buy Bitcoin,0.014029,92.484010,6592.389676,1587128960
1,599875563,2020-04-17 16:40:29,2020-04-17,Buy Ethereum,0.580499,92.484010,159.322203,1587141629
2,599996081,2020-04-17 18:42:42,2020-04-17,Buy Bitcoin,0.014149,92.484010,6536.362863,1587148962
3,600052383,2020-04-18 13:49:32,2020-04-18,Buy Bitcoin,0.103664,693.630071,6691.116356,1587217772
4,600057583,2020-04-18 16:48:30,2020-04-18,Buy Bitcoin,0.020751,138.726014,6685.280615,1587228510
...,...,...,...,...,...,...,...,...
805,1395459836,2021-11-17 10:55:20,2021-11-17,Buy Ethereum,0.252729,956.671958,3785.367680,1637146520
806,1395474358,2021-11-17 11:33:12,2021-11-17,Buy Ethereum,0.120850,457.343177,3784.382811,1637148792
807,1419921913,2021-12-04 05:26:01,2021-12-04,Buy Shiba (in millions),0.794084,23.474908,29.563296,1638595561
808,1425416509,2021-12-09 09:14:46,2021-12-09,Buy Cardano,83.616294,102.425388,1.223466,1639041286
809,2325392242,2022-11-16 16:35:46,2022-11-16,Buy Songbird,11.510000,0.145118,0.009675,1668616546

In [35]:
df_close['Close Datetime'] = pd.to_datetime(df_close['close_unix_timestamp'],dayfirst=True,unit='s')
df_close

,Close Position ID,Close Datetime,Close Date_x,Close Action,Close Units,Close Amount_Eur,Close Rate_Eur,close_unix_timestamp
0,599996081,2020-05-01 11:44:24,2020-05-01,Buy Bitcoin,0.014149,115.062682,8194.258482,1588333464
1,610187469,2020-05-01 20:55:45,2020-05-01,Buy Bitcoin,0.058647,458.884862,7884.243731,1588366545
2,610190271,2020-05-01 20:56:05,2020-05-01,Buy Bitcoin,0.058881,461.070130,7890.334733,1588366565
3,609940706,2020-05-01 20:57:04,2020-05-01,Buy Bitcoin,0.118959,932.284501,7896.906842,1588366624
4,609941239,2020-05-01 20:57:54,2020-05-01,Buy Bitcoin,0.112364,881.648237,7906.338364,1588366674
...,...,...,...,...,...,...,...,...
805,1361963252,2022-05-12 09:16:32,2022-05-12,Buy Bitcoin,0.001490,38.527932,26401.130130,1652346992
806,1353186945,2022-05-12 09:16:29,2022-05-12,Buy Bitcoin,0.001611,41.680601,26417.027940,1652346989
807,1283235754,2022-05-12 09:16:13,2022-05-12,Buy Bitcoin,0.042603,1104.091794,26458.424940,1652346973
808,1370705010,2022-05-12 09:16:27,2022-05-12,Buy Bitcoin,0.006407,166.055431,26460.970110,1652346987
809,2325392242,2022-12-02 12:29:02,2022-12-02,Buy Songbird,11.510000,0.109149,0.009483,1669984142

In [36]:
df_close.to_csv('crypto_et_close_final.csv',index=False)
df_open.to_csv('crypto_et_open_final.csv',index=False)

In [37]:
data_btc = {}
print(df_close.columns)
df_open.columns

Index(['Close Position ID', 'Close Datetime', 'Close Date_x', 'Close Action',
       'Close Units', 'Close Amount_Eur', 'Close Rate_Eur',
       'close_unix_timestamp'],
      dtype='object')

Index(['Open_Position ID', 'Open Datetime', 'Open Date_x', 'Open Action',
       'Open Units', 'Open Amount_Eur', 'Open Rate_Eur',
       'open_unix_timestamp'],
      dtype='object')

In [38]:
df_lifo_btc = pd.DataFrame(data_btc, columns=['Open_Position ID', 
                                              'Open Datetime',
                                              'Open Date_x', 'Open Action',
                                              'Open Units', 'Open Amount_Eur',
                                              'Open Rate_Eur',
                                              'open_unix_timestamp',
                                              'Close Position ID',
                                              'Close Datetime', 'Close Date_x',
                                              'Close Action', 'Close Units',
                                              'Close Amount_Eur',
                                              'Close Rate_Eur',
                                              'close_unix_timestamp'])

In [39]:
df_lifo_btc

Empty DataFrame
Columns: [Open_Position ID, Open Datetime, Open Date_x, Open Action, Open Units, Open Amount_Eur, Open Rate_Eur, open_unix_timestamp, Close Position ID, Close Datetime, Close Date_x, Close Action, Close Units, Close Amount_Eur, Close Rate_Eur, close_unix_timestamp]
Index: []

In [40]:
df_close_btc = df_close[df_close['Close Action']=='Buy Bitcoin']
df_open_btc = df_open[df_open['Open Action']=='Buy Bitcoin']

In [43]:
#df_close_btc.reset_index(inplace=True)
#df_close_btc.rename(columns={'index':'Close_index'},inplace=True)
df_close_btc

/usr/local/lib/python3.8/dist-packages/pandas/core/frame.py:5039: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

,Close_index,Close Position ID,Close Datetime,Close Date_x,Close Action,Close Units,Close Amount_Eur,Close Rate_Eur,close_unix_timestamp
0,0,599996081,2020-05-01 11:44:24,2020-05-01,Buy Bitcoin,0.014149,115.062682,8194.258482,1588333464
1,1,610187469,2020-05-01 20:55:45,2020-05-01,Buy Bitcoin,0.058647,458.884862,7884.243731,1588366545
2,2,610190271,2020-05-01 20:56:05,2020-05-01,Buy Bitcoin,0.058881,461.070130,7890.334733,1588366565
3,3,609940706,2020-05-01 20:57:04,2020-05-01,Buy Bitcoin,0.118959,932.284501,7896.906842,1588366624
4,4,609941239,2020-05-01 20:57:54,2020-05-01,Buy Bitcoin,0.112364,881.648237,7906.338364,1588366674
...,...,...,...,...,...,...,...,...,...
199,804,1165132120,2022-05-12 09:16:00,2022-05-12,Buy Bitcoin,0.013298,344.769082,26469.346380,1652346960
200,805,1361963252,2022-05-12 09:16:32,2022-05-12,Buy Bitcoin,0.001490,38.527932,26401.130130,1652346992
201,806,1353186945,2022-05-12 09:16:29,2022-05-12,Buy Bitcoin,0.001611,41.680601,26417.027940,1652346989
202,807,1283235754,2022-05-12 09:16:13,2022-05-12,Buy Bitcoin,0.042603,1104.091794,26458.424940,1652346973
203,808,1370705010,2022-05-12 09:16:27,2022-05-12,Buy Bitcoin,0.006407,166.055431,26460.970110,1652346987

In [46]:
#df_open_btc.reset_index(inplace=True)
#df_open_btc.rename(columns={'index':'Open_index'},inplace=True)
df_open_btc

/usr/local/lib/python3.8/dist-packages/pandas/core/frame.py:5039: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

,Open_index,Open_Position ID,Open Datetime,Open Date_x,Open Action,Open Units,Open Amount_Eur,Open Rate_Eur,open_unix_timestamp
0,0,599295474,2020-04-17 13:09:20,2020-04-17,Buy Bitcoin,0.014029,92.484010,6592.389676,1587128960
1,2,599996081,2020-04-17 18:42:42,2020-04-17,Buy Bitcoin,0.014149,92.484010,6536.362863,1587148962
2,3,600052383,2020-04-18 13:49:32,2020-04-18,Buy Bitcoin,0.103664,693.630071,6691.116356,1587217772
3,4,600057583,2020-04-18 16:48:30,2020-04-18,Buy Bitcoin,0.020751,138.726014,6685.280615,1587228510
4,6,600061986,2020-04-18 21:07:10,2020-04-18,Buy Bitcoin,0.004376,29.419163,6723.069581,1587244030
...,...,...,...,...,...,...,...,...,...
199,778,1353186945,2021-10-18 21:47:56,2021-10-18,Buy Bitcoin,0.001611,86.408019,53648.207030,1634593676
200,780,1354684971,2021-10-19 20:54:00,2021-10-19,Buy Bitcoin,0.006812,377.664548,55444.520400,1634676840
201,790,1361963252,2021-10-25 19:00:27,2021-10-25,Buy Bitcoin,0.001490,81.400745,54648.528540,1635188427
202,798,1368128599,2021-10-29 09:51:32,2021-10-29,Buy Bitcoin,0.012804,677.735938,52932.721790,1635501092
203,800,1370705010,2021-11-01 11:59:53,2021-11-01,Buy Bitcoin,0.006407,344.142212,53714.903330,1635767993

In [47]:
df_close_btc.nunique()

Close_index             204
Close Position ID       204
Close Datetime          134
Close Date_x             34
Close Action              1
Close Units             203
Close Amount_Eur        204
Close Rate_Eur          135
close_unix_timestamp    134
dtype: int64

In [63]:
close_unit_index = 0
close_unit_index = close_unit_index + 0 if df_close_btc.loc[close_unit_index, 'Close Units'] > 0 else 1 
# How to set up an upper limit on this variable??

In [64]:
zeroth_close_units_btc = df_close_btc.loc[0,'Close Units']
zeroth_close_units_btc

0.014149

In [65]:
elementNumber_close_units_btc = df_close_btc.loc[close_unit_index,'Close Units']
elementNumber_close_units_btc

0.014149

In [62]:
df_close_btc[0:1]

,Close_index,Close Position ID,Close Datetime,Close Date_x,Close Action,Close Units,Close Amount_Eur,Close Rate_Eur,close_unix_timestamp
0,0,599996081,2020-05-01 11:44:24,2020-05-01,Buy Bitcoin,0.014149,115.062682,8194.258482,1588333464

In [66]:
df_close_btc[close_unit_index:(close_unit_index+1)]

,Close_index,Close Position ID,Close Datetime,Close Date_x,Close Action,Close Units,Close Amount_Eur,Close Rate_Eur,close_unix_timestamp
0,0,599996081,2020-05-01 11:44:24,2020-05-01,Buy Bitcoin,0.014149,115.062682,8194.258482,1588333464

In [49]:
zeroth_close_datetime_btc = df_close_btc.loc[0,'Close Datetime']
zeroth_close_datetime_btc

Timestamp('2020-05-01 11:44:24')

In [69]:
close_unit_index_th_close_datetime_btc = df_close_btc.loc[close_unit_index,'Close Datetime']
close_unit_index_th_close_datetime_btc

Timestamp('2020-05-01 11:44:24')

In [50]:
lifo_open_datetime_btc_last = df_open_btc['Open Datetime'][df_open_btc['Open Datetime'] < zeroth_close_datetime_btc]
lifo_open_datetime_btc_last

0    2020-04-17 13:09:20
1    2020-04-17 18:42:42
2    2020-04-18 13:49:32
3    2020-04-18 16:48:30
4    2020-04-18 21:07:10
5    2020-04-18 21:37:57
6    2020-04-22 20:35:47
7    2020-04-23 18:50:46
8    2020-04-24 16:01:10
9    2020-04-25 13:22:19
10   2020-04-26 12:51:43
11   2020-04-29 07:56:58
12   2020-04-29 11:16:21
13   2020-04-29 17:24:05
14   2020-04-29 17:32:01
15   2020-04-29 17:33:23
16   2020-04-29 17:44:04
17   2020-04-29 17:44:59
18   2020-04-29 17:47:17
19   2020-04-29 20:13:24
20   2020-04-29 22:03:24
21   2020-04-29 22:11:30
22   2020-04-29 22:13:34
23   2020-04-30 04:00:56
24   2020-04-30 04:01:39
25   2020-04-30 04:02:13
26   2020-04-30 04:07:57
27   2020-04-30 04:08:05
28   2020-04-30 04:08:23
29   2020-04-30 04:13:53
30   2020-04-30 04:14:49
31   2020-04-30 10:04:41
32   2020-04-30 19:14:44
Name: Open Datetime, dtype: datetime64[ns]

In [70]:
lifo_open_datetime_btc_last_element = df_open_btc['Open Datetime'][df_open_btc['Open Datetime'] < close_unit_index_th_close_datetime_btc]

In [53]:
lifo_open_datetime_btc_last.max()

Timestamp('2020-04-30 19:14:44')

In [71]:
lifo_open_datetime_btc_last_element.max()

Timestamp('2020-04-30 19:14:44')

In [55]:
df_lifo_row_last = df_open_btc[df_open_btc['Open Datetime'] == lifo_open_datetime_btc_last.max()]

In [72]:
df_lifo_latsest_last_row = df_open_btc[df_open_btc['Open Datetime'] == lifo_open_datetime_btc_last_element.max()]

In [56]:
df_lifo_row_last

,Open_index,Open_Position ID,Open Datetime,Open Date_x,Open Action,Open Units,Open Amount_Eur,Open Rate_Eur,open_unix_timestamp
32,54,611192720,2020-04-30 19:14:44,2020-04-30,Buy Bitcoin,0.002861,23.071989,8062.921929,1588274084

In [73]:
df_lifo_latsest_last_row

,Open_index,Open_Position ID,Open Datetime,Open Date_x,Open Action,Open Units,Open Amount_Eur,Open Rate_Eur,open_unix_timestamp
32,54,611192720,2020-04-30 19:14:44,2020-04-30,Buy Bitcoin,0.002861,23.071989,8062.921929,1588274084

In [88]:
df_lifo_latsest_last_row.reset_index(inplace=True)

In [90]:
df_lifo_latsest_last_row.drop('index', axis=1,inplace=True)

/usr/local/lib/python3.8/dist-packages/pandas/core/frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [91]:
df_lifo_latsest_last_row

,Open_index,Open_Position ID,Open Datetime,Open Date_x,Open Action,Open Units,Open Amount_Eur,Open Rate_Eur,open_unix_timestamp
0,54,611192720,2020-04-30 19:14:44,2020-04-30,Buy Bitcoin,0.002861,23.071989,8062.921929,1588274084

In [58]:
zeroth_close_units_btc

0.014149

In [57]:
zeroth_close_units_btc >= df_lifo_row_last['Open Units']

32    True
Name: Open Units, dtype: bool

In [75]:
elementNumber_close_units_btc >= df_lifo_latsest_last_row['Open Units']

32    True
Name: Open Units, dtype: bool

In [77]:
new_dict_open_half = df_lifo_row_last.to_dict('records')

In [79]:
new_dict_open_half

[{'Open_index': 54,
  'Open_Position ID': 611192720,
  'Open Datetime': Timestamp('2020-04-30 19:14:44'),
  'Open Date_x': Timestamp('2020-04-30 00:00:00'),
  'Open Action': 'Buy Bitcoin',
  'Open Units': 0.002861,
  'Open Amount_Eur': 23.07198922,
  'Open Rate_Eur': 8062.921929,
  'open_unix_timestamp': 1588274084}]

In [78]:
newth_dict_open_half = df_lifo_latsest_last_row.to_dict('records')

In [80]:
newth_dict_open_half

[{'Open_index': 54,
  'Open_Position ID': 611192720,
  'Open Datetime': Timestamp('2020-04-30 19:14:44'),
  'Open Date_x': Timestamp('2020-04-30 00:00:00'),
  'Open Action': 'Buy Bitcoin',
  'Open Units': 0.002861,
  'Open Amount_Eur': 23.07198922,
  'Open Rate_Eur': 8062.921929,
  'open_unix_timestamp': 1588274084}]

In [81]:
df_new_close_2nd_half = df_close_btc[close_unit_index:(close_unit_index+1)]

In [82]:
df_new_close_2nd_half

,Close_index,Close Position ID,Close Datetime,Close Date_x,Close Action,Close Units,Close Amount_Eur,Close Rate_Eur,close_unix_timestamp
0,0,599996081,2020-05-01 11:44:24,2020-05-01,Buy Bitcoin,0.014149,115.062682,8194.258482,1588333464

In [94]:
units_value_open = df_lifo_latsest_last_row.at[0,'Open Units']
units_value_open

0.002861

In [95]:
df_lifo_latsest_last_row._get_value(0,'Open Units')

0.002861

In [96]:
elementNumber_close_units_btc

0.014149

In [97]:
df_close_btc[close_unit_index:(close_unit_index+1)].loc[0,'Close Units']

0.014149

In [102]:
df_new_close_2nd_half[0,'Close Units'] = units_value_open

<ipython-input-102-572d88aa5779>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_new_close_2nd_half[0,'Close Units'] = units_value_open

In [103]:
df_new_close_2nd_half

,Close_index,Close Position ID,Close Datetime,Close Date_x,Close Action,Close Units,Close Amount_Eur,Close Rate_Eur,close_unix_timestamp,"(0, Close Units)"
0,0,599996081,2020-05-01 11:44:24,2020-05-01,Buy Bitcoin,0.014149,115.062682,8194.258482,1588333464,0.002861

In [104]:
current_close_amount = df_new_close_2nd_half.at[0, 'Close Amount_Eur']
current_close_amount

115.062682

In [ ]:
#close_amount = close rate * close units

In [ ]:
close_amount_corresponding_to_close_units_above = current_close_amount

In [ ]:
df_new_close_2nd_half[0,'Close Amount_Eur']